<%@ Page Language="C#" AutoEventWireup="true" Inherits="CMSModules_Ecommerce_Pages_Tools_DiscountCoupons_DiscountCoupon_Edit_Header"
    Theme="Default" MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Title="Discount coupon header"
    Codebehind="DiscountCoupon_Edit_Header.aspx.cs" %>

