<%@ Control Language="C#" AutoEventWireup="true" Codebehind="PasswordExpiration.ascx.cs" Inherits="CMSModules_Membership_Controls_PasswordExpiration" %>
<cms:LocalizedLabel ID="lblExpText" runat="server" EnableViewState="false" />
