<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSModules_Membership_Controls_RegistrationApproval" Codebehind="RegistrationApproval.ascx.cs" %>
<asp:Label runat="server" ID="lblInfo" CssClass="InfoLabel" EnableViewState="false" />

