<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSModules_Membership_Controls_Subscriptions"
    Codebehind="Subscriptions.ascx.cs" %>
<asp:HyperLink ID="lnkNewsletterGroup" runat="server" Visible="false" />
<asp:Panel ID="pnlNewsletters" runat="server" Visible="false" />
<asp:HyperLink ID="lnkBlogGroup" runat="server" Visible="false" />
<asp:Panel ID="pnlBlogs" runat="server" Visible="false" />
<asp:HyperLink ID="lnkBoardGroup" runat="server" Visible="false" />
<asp:Panel ID="pnlBoards" runat="server" Visible="false" />
<asp:HyperLink ID="lnkForumGroup" runat="server" Visible="false" />
<asp:Panel ID="pnlForums" runat="server" Visible="false" />
<asp:HyperLink ID="lnkReportGroup" runat="server" Visible="false" />
<asp:Panel ID="pnlReports" runat="server" Visible="false" />
