<%@ Page Language="C#" AutoEventWireup="true" Codebehind="Header.aspx.cs" Inherits="CMSModules_Integration_Pages_Administration_Header"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Theme="Default" %>

