<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSModules_Reporting_FormControls_ReportGraphSelector" Codebehind="~/CMSModules/Reporting/FormControls/ReportGraphSelector.ascx.cs" %>
<%@ Register src="~/CMSModules/Reporting/FormControls/ReportItemSelector.ascx" tagname="BasicReportSelector" tagprefix="cms" %>

<cms:BasicReportSelector runat="server" id = "brsItems" ReportType="Graph" />
