<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSModules_Reporting_FormControls_SelectReportCategory" Codebehind="SelectReportCategory.ascx.cs" %>
<asp:DropDownList ID="drpCategories" runat="server"  CssClass="DropDownField"  />

