<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSFormControls_Documents_DocumentStylesheetSelector" Codebehind="DocumentStylesheetSelector.ascx.cs" %>
<%@ Register src="~/CMSFormControls/SelectCssStylesheet.ascx" tagname="CssStylesheetSelector" tagprefix="cms" %>

<cms:CssStylesheetSelector ID="stylesheetSelector" runat="server" />
