<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSModules_Polls_Controls_PollProperties"
    Codebehind="PollProperties.ascx.cs" %>
<%@ Register Src="~/CMSFormControls/System/LocalizableTextBox.ascx" TagName="LocalizableTextBox"
    TagPrefix="cms" %>
<%@ Register Src="~/CMSFormControls/System/CodeName.ascx" TagName="CodeName" TagPrefix="cms" %>
<asp:Panel ID="pnlBody" runat="server">
    <asp:Panel ID="pnlGeneral" runat="server">
        <cms:MessagesPlaceHolder ID="plcMess" runat="server" />
        <table style="vertical-align: top">
            <tr>
                <td class="FieldLabel" style="width:165px">
                    <cms:LocalizedLabel runat="server" ID="lblDisplayName" EnableViewState="false" ResourceString="general.displayname"
                        DisplayColon="true" />
                </td>
                <td>
                    <cms:LocalizableTextBox ID="txtDisplayName" runat="server" CssClass="TextBoxField"
                        MaxLength="200" />
                    <br />
                    <cms:CMSRequiredFieldValidator ID="rfvDisplayName" runat="server" ControlToValidate="txtDisplayName:textbox"
                        ValidationGroup="required" Display="Dynamic" EnableViewState="false" />
                </td>
            </tr>
            <asp:PlaceHolder ID="plcCodeName" runat="Server">
                <tr>
                    <td class="FieldLabel">
                        <cms:LocalizedLabel runat="server" ID="lblCodeName" EnableViewState="false" ResourceString="general.codename"
                            DisplayColon="true" />
                    </td>
                    <td>
                        <cms:CodeName ID="txtCodeName" runat="server" CssClass="TextBoxField" MaxLength="200" />
                        <br />
                        <cms:CMSRequiredFieldValidator ID="rfvCodeName" runat="server" ControlToValidate="txtCodeName"
                            ValidationGroup="required" Display="Dynamic" EnableViewState="false" />
                    </td>
                </tr>
            </asp:PlaceHolder>
            <tr>
                <td colspan="2">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td class="FieldLabel">
                    <cms:LocalizedLabel runat="server" ID="lblTitle" EnableViewState="false" ResourceString="Polls_Edit.PollTitleLabel"
                        DisplayColon="true" />
                </td>
                <td>
                    <cms:LocalizableTextBox ID="txtTitle" runat="server" CssClass="TextBoxField" MaxLength="100" />
                </td>
            </tr>
            <tr>
                <td class="FieldLabel">
                    <cms:LocalizedLabel runat="server" ID="lblQuestion" EnableViewState="false" ResourceString="Polls_Edit.PollQuestionLabel"
                        DisplayColon="true" />
                </td>
                <td>
                    <cms:LocalizableTextBox ID="txtQuestion" runat="server" TextMode="MultiLine" CssClass="TextAreaField"
                        MaxLength="450" />
                    <br />
                    <cms:CMSRequiredFieldValidator ID="rfvQuestion" runat="server" ControlToValidate="txtQuestion:textbox"
                        ValidationGroup="required" Display="Dynamic" EnableViewState="false" />
                    <cms:CMSRegularExpressionValidator ID="rfvMaxLength" Display="Dynamic" ControlToValidate="txtQuestion:textbox"
                        runat="server" ValidationExpression="^[\s\S]{0,450}$" ValidationGroup="required"
                        EnableViewState="false" />
                </td>
            </tr>
            <tr>
                <td class="FieldLabel">
                    <cms:LocalizedLabel runat="server" ID="lblResponseMessage" EnableViewState="false"
                        ResourceString="Polls_Edit.PollResponseMessageLabel" DisplayColon="true" />
                </td>
                <td>
                    <cms:LocalizableTextBox ID="txtResponseMessage" runat="server" TextMode="MultiLine"
                        CssClass="TextAreaField" MaxLength="450" />
                    <cms:CMSRegularExpressionValidator ID="rfvMaxLengthResponse" Display="Dynamic" ControlToValidate="txtResponseMessage:textbox"
                        runat="server" ValidationExpression="^[\s\S]{0,450}$" ValidationGroup="required"
                        EnableViewState="false" />
                </td>
            </tr>
        </table>
    </asp:Panel>
    <br />
    <asp:Panel ID="pnlAdvanced" runat="server">
        <table style="vertical-align: top">
            <tr>
                <td class="FieldLabel" style="width:165px">
                    <cms:LocalizedLabel runat="server" ID="lblOpenFrom" EnableViewState="false" ResourceString="Polls_Edit.PollOpenFromLabel"
                        DisplayColon="true" />
                </td>
                <td>
                    <cms:DateTimePicker ID="dtPickerOpenFrom" runat="server" SupportFolder="~/CMSAdminControls/Calendar">
                    </cms:DateTimePicker>
                </td>
            </tr>
            <tr>
                <td class="FieldLabel">
                    <cms:LocalizedLabel runat="server" ID="lblOpenTo" EnableViewState="false" ResourceString="Polls_Edit.PollOpenToLabel"
                        DisplayColon="true" />
                </td>
                <td>
                    <cms:DateTimePicker ID="dtPickerOpenTo" runat="server" SupportFolder="~/CMSAdminControls/Calendar">
                    </cms:DateTimePicker>
                </td>
            </tr>
            <tr>
                <td class="FieldLabel">
                    <cms:LocalizedLabel runat="server" ID="lblAllowMultipleAnswers" EnableViewState="false"
                        ResourceString="Polls_Edit.PollAllowMultipleAnswersLabel" DisplayColon="true"
                        AssociatedControlID="chkAllowMultipleAnswers" />
                </td>
                <td>
                    <asp:CheckBox ID="chkAllowMultipleAnswers" runat="server" CssClass="CheckBoxMovedLeft"
                        AutoPostBack="false" />
                </td>
            </tr>
            <asp:PlaceHolder runat="server" ID="plcOnline" Visible="false">
                <tr>
                    <td class="FieldLabel">
                        <cms:LocalizedLabel runat="server" ID="LocalizedLabel1" EnableViewState="false" ResourceString="Polls_Edit.PollLogActivity"
                            DisplayColon="true" AssociatedControlID="chkLogActivity" />
                    </td>
                    <td>
                        <asp:CheckBox ID="chkLogActivity" runat="server" CssClass="CheckBoxMovedLeft" AutoPostBack="false" />
                    </td>
                </tr>
            </asp:PlaceHolder>
            <tr>
                <td>
                </td>
                <td>
                    <cms:FormSubmitButton runat="server" ID="btnOk" OnClick="btnOK_Click" EnableViewState="false"
                        ResourceString="General.OK" CssClass="SubmitButton" ValidationGroup="required" />
                </td>
            </tr>
        </table>
    </asp:Panel>
</asp:Panel>
