<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Viewers_Query_queryuniview" Codebehind="~/CMSWebParts/Viewers/Query/queryuniview.ascx.cs" %>
<cms:QueryUniView runat="server" ID="uniView" />
