<%@ Control Language="C#" AutoEventWireup="true" Codebehind="RefreshIcon.ascx.cs" Inherits="CMSModules_Content_Controls_RefreshIcon" %>
<asp:Panel ID="pnlRefresh" name="pnlRefresh" class="RefreshTreeIconContainer" runat="server">
    <asp:Image ID="imgRefresh" runat="server" EnableViewState="false" BorderWidth="1"
        CssClass="RefreshTreeIcon" />
</asp:Panel>
