<%@ Control Language="C#" AutoEventWireup="true" Codebehind="PresetFormControlSelector.ascx.cs"
    Inherits="CMSModules_FormControls_FormControls_PresetFormControlSelector" %>
<%@ Register Src="~/CMSModules/FormControls/FormControls/FormControlSelector.ascx"
    TagName="FormControlSelector" TagPrefix="cms" %>
<cms:FormControlSelector runat="server" ID="formControlSelector" PrioritizeItems="true" />
