<%@ Page Language="C#" AutoEventWireup="true" 
Inherits="CMSModules_UICultures_Pages_Development_UICulture_Header" MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" 
Theme="Default" Codebehind="Header.aspx.cs" %>