<%@ Control Language="C#" AutoEventWireup="true" Codebehind="DocumentSplitView.ascx.cs"
    Inherits="CMSModules_Content_Controls_SplitView_Documents_DocumentSplitView" %>
<%@ Register Src="~/CMSModules/Content/Controls/SplitView/SplitView.ascx" TagName="SplitView"
    TagPrefix="cms" %>
<cms:SplitView ID="splitView" runat="server" />
