<%@ Page Language="C#" MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" AutoEventWireup="true" Inherits="CMSModules_Membership_Pages_Users_Users_Header"
    Title="Untitled Page" Theme="Default" Codebehind="Users_Header.aspx.cs" %>

