<%@ Page Language="C#" AutoEventWireup="true" Inherits="CMSModules_Membership_Pages_Users_User_Edit"
    Theme="Default" MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master"
    Title="User Edit - Header" Codebehind="User_Edit.aspx.cs" %>

