<%@ Page Language="C#" AutoEventWireup="true" Inherits="CMSModules_Groups_Tools_Forums_Groups_ForumGroup_Header" 
MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Theme="Default" Codebehind="ForumGroup_Header.aspx.cs" %>
