<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSModules_Content_FormControls_SelectRatings" Codebehind="SelectRatings.ascx.cs" %>

<asp:DropDownList ID="drpRatingsControls" runat="server" CssClass="DropDownField" />
