<%@ Page Language="C#" AutoEventWireup="true" Inherits="CMSModules_Ecommerce_Pages_Tools_Customers_Customer_Edit_Header" MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Theme="Default" Title="Customer - Edit - Header" Codebehind="Customer_Edit_Header.aspx.cs" %>

