<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSModules_Forums_FormControls_FullForumSelector" Codebehind="FullForumSelector.ascx.cs" %>
<%@ Register src="~/CMSModules/Forums/FormControls/ForumSelector.ascx" tagname="ForumSelector" tagprefix="cms" %>

<cms:ForumSelector ID="forumSelector" runat="server" DisplayAllForumsOption="true" />