<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSModules_ImportExport_Controls_Export_cms_customtable" Codebehind="cms_customtable.ascx.cs" %>
<asp:Panel runat="server" ID="pnlCheck" CssClass="WizardHeaderLine" BackColor="transparent">
    <div>
        <asp:CheckBox ID="chkObject" runat="server" />
    </div>
</asp:Panel>
