<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSAdminControls_UI_UIProfiles_UIGuide" Codebehind="UIGuide.ascx.cs" %>
<%@ Register src="~/CMSAdminControls/UI/PageElements/guide.ascx" tagname="Guide" tagprefix="cms" %>
<cms:Guide ID="guideElem" runat="server" />
