<%@ Control Language="C#" AutoEventWireup="true" Codebehind="UIPanelMenu.ascx.cs"
    Inherits="CMSAdminControls_UI_UIProfiles_UIPanelMenu" %>
<%@ Register Src="~/CMSAdminControls/UI/PanelMenu/PanelMenu.ascx" TagName="PanelMenu"
    TagPrefix="cms" %>
<cms:PanelMenu ID="panelMenu" runat="server" />
<asp:Literal runat="server" ID="ltlAfter" />
