<%@ Control Language="C#" AutoEventWireup="true" Codebehind="SettingsGroupViewer.ascx.cs"
    Inherits="CMSModules_Settings_Controls_SettingsGroupViewer" %>
<asp:Label ID="lblInfo" runat="server" CssClass="InfoLabel" EnableViewState="false"
    Visible="false" />
<div class="WebPartForm">
    <asp:PlaceHolder ID="plcContent" runat="server" />
</div>
