<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSModules_Widgets_Controls_WidgetPropertiesEdit" Codebehind="WidgetPropertiesEdit.ascx.cs" %>
<%@ Register Src="~/CMSModules/Widgets/Controls/WidgetPropertiesFieldEditor.ascx" TagName="WidgetPropertiesFieldEditor"
    TagPrefix="cms" %>
    
<cms:WidgetPropertiesFieldEditor ID="widgetFieldEditor" runat="server" />
