<%@ Control Language="C#" AutoEventWireup="true" Codebehind="SelectOptionCategoryType.ascx.cs" Inherits="CMSModules_Ecommerce_Controls_UI_ProductOptions_SelectOptionCategoryType" %>
<%@ Register Assembly="CMS.ExtendedControls" Namespace="CMS.ExtendedControls" TagPrefix="cms" %>

<cms:LocalizedDropDownList ID="drpTypes" runat="server" ></cms:LocalizedDropDownList>