<%@ Page Language="C#" AutoEventWireup="true"
    Inherits="CMSModules_Notifications_Development_Templates_Template_Edit_Header"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Theme="Default"
    Title="Templates edit - header" Codebehind="Template_Edit_Header.aspx.cs" %>

