<%@ Page Language="C#" AutoEventWireup="true"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Title="Chat room properties"
    Inherits="CMSModules_Chat_Pages_Tools_ChatRoom_Header" Theme="Default" Codebehind="Header.aspx.cs" %>