<%@ Control Language="C#" AutoEventWireup="true" Codebehind="BlogPostSubscription.ascx.cs" Inherits="CMSModules_ContactManagement_Controls_UI_ActivityDetails_BlogPostSubscription" %>
<%@ Register Src="~/CMSModules/ContactManagement/Controls/UI/ActivityDetails/BlogComment.ascx" TagName="BlogDetail" TagPrefix="cms" %>
<cms:BlogDetail runat="server" ID="uc" />