<%@ Control Language="C#" AutoEventWireup="true" Codebehind="DetailsList.ascx.cs" Inherits="CMSModules_ContactManagement_Controls_UI_ActivityDetails_DetailsList" %>
<asp:PlaceHolder runat="server" ID="plc" Visible="true" EnableViewState="false">
</asp:PlaceHolder>
