<%@ Control Language="C#" AutoEventWireup="true" Codebehind="InternalSearch.ascx.cs"
    Inherits="CMSModules_ContactManagement_Controls_UI_ActivityDetails_InternalSearch" %>
<%@ Register Src="~/CMSModules/ContactManagement/Controls/UI/ActivityDetails/ExternalSearch.ascx" TagName="Search" TagPrefix="cms" %>
<cms:Search runat="server" ID="uc" />
