<%@ Control Language="C#" AutoEventWireup="true" Codebehind="NewsletterUnsubscription.ascx.cs" Inherits="CMSModules_ContactManagement_Controls_UI_ActivityDetails_NewsletterUnsubscription" %>
<%@ Register Src="~/CMSModules/ContactManagement/Controls/UI/ActivityDetails/NewsletterSubscription.ascx" TagName="Newsletter" TagPrefix="cms" %>
<cms:Newsletter runat="server" ID="uc" />
