<%@ Control Language="C#" AutoEventWireup="true" Codebehind="ProductAddedToWishlist.ascx.cs" Inherits="CMSModules_ContactManagement_Controls_UI_ActivityDetails_ProductAddedToWishlist" %>
<%@ Register Src="~/CMSModules/ContactManagement/Controls/UI/ActivityDetails/ProductAddedToShoppingCart.ascx" TagName="Product" TagPrefix="cms" %>
<cms:Product runat="server" ID="uc" />
