<%@ Control Language="C#" AutoEventWireup="true" Codebehind="UserContribution.ascx.cs" Inherits="CMSModules_ContactManagement_Controls_UI_ActivityDetails_UserContribution" %>
<%@ Register Src="~/CMSModules/ContactManagement/Controls/UI/ActivityDetails/DetailsList.ascx" TagName="DetailsList" TagPrefix="cms" %>
<cms:DetailsList runat="server" ID="ucDetails" />
