<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSModules_Widgets_FormControls_SelectWidgetCategory" Codebehind="SelectWidgetCategory.ascx.cs" %>
<asp:DropDownList ID="drpWidgetCategory" runat="server" CssClass="DropDownField" />
