<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_Community_Polls_GroupPoll" Codebehind="~/CMSWebParts/Community/Polls/GroupPoll.ascx.cs" %>
<%@ Register Src="~/CMSModules/Polls/Controls/View/PollView.ascx" TagName="PollView" TagPrefix="cms" %>
<cms:PollView ID="viewPoll" runat="server" />
