<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSFormControls_SQL_WhereCondition" Codebehind="WhereCondition.ascx.cs" %>

<cms:CMSTextBox runat="server" ID="txtWhere" CssClass="TextBoxField" />
