<%@ Page Language="C#" MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" AutoEventWireup="true" Inherits="CMSModules_Blogs_Tools_Blogs_Header"
    Title="Blogs - Header" Theme="Default" Codebehind="Blogs_Header.aspx.cs" %>

<%-- Add content controls here --%>
