<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSAdminControls_UI_UniMenu_Content_ModeMenu"
    Codebehind="ModeMenu.ascx.cs" %>
<%@ Register Src="~/CMSAdminControls/UI/UniMenu/UniMenuButtons.ascx" TagName="UniMenuButtons"
    TagPrefix="cms" %>
<div class="ActionButtons">
    <cms:UniMenuButtons ID="buttonsBig" ShortID="bb" runat="server" EnableViewState="false"
        AllowSelection="true" CheckChanges="true" />
</div>
