<%@ Control Language="C#" AutoEventWireup="true" Codebehind="~/CMSWebParts/Ecommerce/Donations.ascx.cs" Inherits="CMSWebParts_Ecommerce_Donations" %>
<div class="DonationsList">
    <cms:QueryRepeater runat="server" ID="repeater" />
</div>
