<%@ Page Title="" Language="C#" MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" AutoEventWireup="true" Codebehind="Role_Edit_UI_Header.aspx.cs" 
Inherits="CMSModules_Membership_Pages_Roles_Role_Edit_UI_Header"  Theme="Default" %>
