<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSModules_Membership_FormControls_Roles_SelectRoles" Codebehind="SelectRoles.ascx.cs" %>
<%@ Register src="~/CMSModules/Membership/FormControls/Roles/selectrole.ascx" tagname="SelectRole" tagprefix="cms" %>
<cms:SelectRole ID="selectRole" runat="server" />