<%@ Control Language="C#" AutoEventWireup="true" Codebehind="~/CMSWebParts/CommunityServices/Twitter/TwitterFeed.ascx.cs" Inherits="CMSWebParts_CommunityServices_Twitter_TwitterFeed" %>
<asp:Literal runat="server" ID="ltlPluginCode" EnableViewState="false" />