<%@ Control Language="C#" AutoEventWireup="true" Codebehind="~/CMSWebParts/CommunityServices/Twitter/TwitterTweetButton.ascx.cs" Inherits="CMSWebParts_CommunityServices_Twitter_TwitterTweetButton" %>
<asp:Literal runat="server" ID="ltlTweetButtonCode" EnableViewState="false" />