<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSModules_Translations_FormControls_TranslationPriority"
    Codebehind="TranslationPriority.ascx.cs" %>
<asp:DropDownList runat="server" ID="drpPriority" CssClass="DropDownFieldSmall" />
