<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSModules_Translations_FormControls_TranslationStatus"
    Codebehind="TranslationStatus.ascx.cs" %>
<asp:DropDownList runat="server" ID="drpStatus" CssClass="DropDownField" />
