<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSModules_PortalEngine_Controls_WebParts_SelectWebpart" Codebehind="SelectWebpart.ascx.cs" %>
<asp:DropDownList ID="drpWebpart" runat="server" CssClass="DropDownField" />
