<%@ Control Language="C#" AutoEventWireup="true" Codebehind="DropDownListControl.ascx.cs"
    Inherits="CMSFormControls_Basic_DropDownListControl" %>
<asp:DropDownList ID="dropDownList" runat="server" />
<cms:CMSTextBox ID="txtCombo" runat="server" Visible="false" CssClass="TextBoxField" />
