<%@ Control Language="C#" AutoEventWireup="true" Codebehind="ImageSelectionControl.ascx.cs"
    Inherits="CMSFormControls_Basic_ImageSelectionControl" %>
<cms:ImageSelector ID="imageSelector" runat="server" />
