<%@ Page Language="C#" AutoEventWireup="true" Codebehind="System_DBseparation.aspx.cs" Inherits="CMSModules_System_System_DBseparation"
    Theme="Default" MasterPageFile="~/CMSMasterPages/UI/SimplePage.master" Title="Contact management - database separation" %>

<asp:Content ID="cntBody" runat="server" ContentPlaceHolderID="plcContent">
    <cms:LocalizedButton ID="btnLaunch" CssClass="XXXLongSubmitButton" runat="server" EnableViewState="false" />
</asp:Content>
