<%@ Page Language="C#" AutoEventWireup="true" 
    Inherits="CMSModules_System_System_Header" Theme="Default"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Title="Administration - System Header" Codebehind="System_Header.aspx.cs" %>
