<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSModules_Messaging_Controls_ContactIgnoreSearchBox" Codebehind="ContactIgnoreSearchBox.ascx.cs" %>
<asp:Panel ID="pnlFilter" runat="server" EnableViewState="false" CssClass="SearchList"
    Style="white-space: nowrap;">
    <cms:CMSTextBox ID="txtSearch" runat="server" EnableViewState="false" CssClass="TextBoxField" />
</asp:Panel>
