<%@ Page Title="" Language="C#" MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master"
    AutoEventWireup="true" Codebehind="CustomSettingsCategory_Tabs.aspx.cs" Inherits="CMSModules_Settings_Development_CustomSettings_CustomSettingsCategory_Tabs"
    Theme="Default" %>

