<%@ Page Language="C#" AutoEventWireup="true" Codebehind="Header.aspx.cs"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Title="Contact group properties"
    Inherits="CMSModules_ContactManagement_Pages_Tools_ContactGroup_Header" Theme="Default" %>