<%@ Page Language="C#" MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master"
    AutoEventWireup="true" Inherits="CMSModules_Groups_Tools_MessageBoards_Boards_Board_Header"
    Title="Untitled Page" Theme="Default" Codebehind="Board_Header.aspx.cs" %>

<%-- Add content controls here --%>
