<%@ Control Language="C#" AutoEventWireup="true" Codebehind="NodesGroup.ascx.cs" Inherits="CMSAdminControls_UI_UniMenu_UniGraphToolbar_NodesGroup" %>

<%@ Register Src="~/CMSAdminControls/UI/UniMenu/UniMenuButtons.ascx" TagName="UniMenuButtons" TagPrefix="cms" %>

<cms:UniMenuButtons ID="buttons" runat="server" EnableViewState="false" AllowDraggable="true" />