<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_WebServices_GridForWebService" Codebehind="~/CMSWebParts/WebServices/GridForWebService.ascx.cs" %>

<cms:BasicDataGrid ID="basicDataGrid" runat="server" />
<cms:WebServiceDataSource ID="wsDataSource" runat="server" />