<%@ Page Language="C#" MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" AutoEventWireup="true" Inherits="CMSModules_UIPersonalization_Pages_Administration_UI_Header"
    Title="UI Personalization - Header" Theme="Default" Codebehind="UI_Header.aspx.cs" %>

