<%@ Page Language="C#" AutoEventWireup="true" 
    Inherits="CMSSiteManager_Development_Cultures_Culture_Edit_Header" Theme="Default" 
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Title="Culture Edit - Header" Codebehind="Culture_Edit_Header.aspx.cs" %>
