<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Wireframe_Text_Label" Codebehind="~/CMSWebParts/Wireframe/Text/Label.ascx.cs" %>
<cms:EditableWebPartProperty runat="server" id="ltlText" CssClass="WireframeText NoWrap" PropertyName="Text" Type="TextBox" />
