<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Wireframe_Text_MultilineText" Codebehind="~/CMSWebParts/Wireframe/Text/MultilineText.ascx.cs" %>
<cms:EditableWebPartProperty runat="server" id="ltlText" CssClass="WireframeText NoWrap" PropertyName="Text" Type="TextArea" />
