<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/CMSMasterPages/UI/TabsHeaderVertical.master"
    Inherits="CMSModules_Ecommerce_Pages_Content_Product_Product_Edit_Header" Theme="Default"
    Codebehind="Product_Edit_Header.aspx.cs" %>
