<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSFormControls_TimeZones_TimeZoneTypeSelector" Codebehind="TimeZoneTypeSelector.ascx.cs" %>
<cms:LocalizedDropDownList ID="drpTimeZoneTypeSelector" runat="server" CssClass="DropDownField" />