<%@ Page Language="C#" AutoEventWireup="true"
    Inherits="CMSModules_SystemTables_Pages_Development_Header" MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master"
    Title="System tables edit" Theme="Default" Codebehind="Header.aspx.cs" %>
    
