<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSModules_Chat_Controls_UI_ChatMessage_Edit" Codebehind="Edit.ascx.cs" %>
    
<cms:UIForm runat="server" ID="EditForm" ObjectType="chat.message" />
