<%@ Control Language="C#" AutoEventWireup="true" Codebehind="cms_pagetemplate.ascx.cs" Inherits="CMSModules_ImportExport_Controls_Import_cms_pagetemplate" %>
<asp:Panel runat="server" ID="pnlCheck" CssClass="WizardHeaderLine" BackColor="transparent">
    <div>
        <asp:CheckBox ID="chkObject" runat="server" />
        <br />  
        <asp:CheckBox ID="chkVariants" runat="server" />
    </div>
</asp:Panel>