<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSModules_ImportExport_Controls_Import_cms_inlinecontrol" Codebehind="cms_inlinecontrol.ascx.cs" %>

<asp:Panel runat="server" ID="pnlWarning" CssClass="WizardHeaderLine" BackColor="transparent" Visible="false">
    <asp:Label ID="lblWarning" CssClass="ErrorLabel" runat="server" EnableViewState="false" />
</asp:Panel>