<%@ Page Language="C#" AutoEventWireup="true"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Inherits="CMSModules_Messaging_MyMessages_MyMessages_Header"
    Title="My messages - header" ValidateRequest="false" Theme="Default" EnableViewState="false" Codebehind="MyMessages_Header.aspx.cs" %>

