<%@ Page Language="C#" AutoEventWireup="true"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Title="Project properties"
    Inherits="CMSModules_Groups_Tools_ProjectManagement_Project_Header" Theme="Default" Codebehind="Header.aspx.cs" %>