<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Navigation_cmssitemap" Codebehind="~/CMSWebParts/Navigation/cmssitemap.ascx.cs" %>

<cms:CMSSiteMap ID="smElem" runat="server" />
