<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_Navigation_cmstreemenu" Codebehind="~/CMSWebParts/Navigation/cmstreemenu.ascx.cs" %>
<cms:CMSTreeMenu ID="menuElem" runat="server" />
