<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_Attachments_DocumentAttachments" Codebehind="~/CMSWebParts/Attachments/DocumentAttachments.ascx.cs" %>
<%@ Register Src="~/CMSModules/Content/Controls/Attachments/DocumentAttachments/DocumentAttachments.ascx" TagName="DocumentAttachments" TagPrefix="cms" %>
<cms:DocumentAttachments ID="ucAttachments" runat="server" />