<%@ Page Language="C#" AutoEventWireup="true" 
    Inherits="CMSModules_Groups_Tools_Roles_Role_Edit_Header" Theme="Default"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Title="Roles - Edit role" Codebehind="Role_Edit_Header.aspx.cs" %>
