<%@ Page Language="C#" AutoEventWireup="true"
    Inherits="CMSModules_RelationshipNames_RelationshipName_Header"
    Theme="default" MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Title="Relationship name - Header" Codebehind="RelationshipName_Header.aspx.cs" %>

