<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master"
    Title="Macro rule properties" Inherits="CMSModules_Workflows_Pages_MacroRule_Header"
    Theme="Default" Codebehind="Header.aspx.cs" %>

