<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSFormControls_VisibilityControls_DropDownVisibility" Codebehind="DropDownVisibility.ascx.cs" %>
<asp:DropDownList ID="drpVisibility" runat="server" CssClass="DropDownField" />
