<%@ Page Language="C#" AutoEventWireup="true" Codebehind="AnalyticsMultilingualHeader.aspx.cs"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Theme="Default" Inherits="CMSModules_WebAnalytics_Tools_AnalyticsMultilingualHeader" %>

