<%@ Control Language="C#" AutoEventWireup="true" Codebehind="EmailTemplateTypeFilter.ascx.cs"
    Inherits="CMSModules_EmailTemplates_Filters_EmailTemplateTypeFilter" %>
<asp:DropDownList ID="drpEmailType" runat="server" CssClass="TextBoxField" />
