<%@ Control Language="C#" AutoEventWireup="true" Codebehind="SelectObjectColumn.ascx.cs" Inherits="CMSFormControls_Selectors_SelectObjectColumn" %>
<asp:DropDownList ID="drpColumn" runat="server" CssClass="TextBoxField" />