<%@ Page Language="C#" AutoEventWireup="true"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Title="Events header"
    Inherits="CMSModules_EventManager_Tools_Events_Header" Theme="Default" Codebehind="Events_Header.aspx.cs" %>
