<%@ Page Language="C#" AutoEventWireup="true"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Title="Ab test properties"
    Inherits="CMSModules_OnlineMarketing_Pages_Tools_AbTest_Header" Theme="Default" Codebehind="Header.aspx.cs" %>