<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_Community_Forums_ForumGroupList" Codebehind="~/CMSWebParts/Community/Forums/ForumGroupList.ascx.cs" %>
<asp:PlaceHolder runat="server" ID="plcHolder" />
