<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSModules_Polls_InlineControls_PollControl" Codebehind="PollControl.ascx.cs" %>

<%@ Register Src="~/CMSModules/Polls/Controls/View/PollView.ascx" TagName="PollView" TagPrefix="cms" %>

<div>
    <cms:PollView ID="PollView1" runat="server" />
</div>