<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSModules_Friends_FormControls_FriendshipStatusSelector" Codebehind="FriendshipStatusSelector.ascx.cs" %>
<cms:LocalizedDropDownList ID="drpFriendshipStatusSelector" runat="server" CssClass="DropDownField" />