<%@ Control Language="C#" AutoEventWireup="true" Codebehind="~/CMSWebParts/Localization/BingTranslator.ascx.cs" Inherits="CMSWebParts_Localization_BingTranslator" %>
<asp:Literal runat="server" ID="ltlBingTranslator" />
