<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_Localization_languageselection" Codebehind="~/CMSWebParts/Localization/languageselection.ascx.cs" %>
<asp:Literal ID="ltlHyperlinks" runat="server" EnableViewState="false" />
