<%@ Control Language="C#" AutoEventWireup="true" Codebehind="ReportHeader.ascx.cs"
    Inherits="CMSModules_WebAnalytics_Controls_ReportHeader" %>
<%@ Register Src="~/CMSAdminControls/UI/PageElements/HeaderActions.ascx" TagName="HeaderActions"
    TagPrefix="cms" %>

<cms:HeaderActions runat="server" ID="headerActions" UseSmallIcons="true" IsLiveSite="false" />
