<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSAdminControls_UI_System_ViewObject" Codebehind="ViewObject.ascx.cs" %>
<asp:Literal runat="server" ID="ltlData" EnableViewState="false" />
<div style="width: 90%;">
    <asp:PlaceHolder ID="pnlContent" runat="server" />
</div>
