<%@ Page Language="C#" AutoEventWireup="true" Codebehind="RecycleBin_Header.aspx.cs" Inherits="CMSModules_RecycleBin_Pages_RecycleBin_Header" Theme="Default"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" %>


