<%@ Control Language="C#" AutoEventWireup="true" Codebehind="~/CMSWebParts/CommunityServices/GooglePlus/GooglePlusActivityFeed.ascx.cs" Inherits="CMSWebParts_CommunityServices_GooglePlus_GooglePlusActivityFeed" %>

<cms:LocalizedLabel ID="lblError" runat="server" EnableViewState="false" CssClass="ErrorLabel" />
<asp:Literal runat="server" ID="ltlPluginCode" EnableViewState="false" />