<%@ Page Language="C#" AutoEventWireup="true" 
    Inherits="CMSModules_System_Files_System_FilesHeader" Theme="Default"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Title="Administration - Files Header" Codebehind="System_FilesHeader.aspx.cs" %>
