<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Notifications_ContentSubscription" Codebehind="~/CMSWebParts/Notifications/ContentSubscription.ascx.cs" %>
<%@ Register Src="~/CMSModules/Notifications/Controls/NotificationSubscription/NotificationSubscription.ascx"
    TagName="NotificationSubscription" TagPrefix="uc1" %>
<uc1:NotificationSubscription ID="subscriptionElem" runat="server" />
