<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_Polls_Poll" Codebehind="~/CMSWebParts/Polls/Poll.ascx.cs" %>
<%@ Register Src="~/CMSModules/Polls/Controls/View/PollView.ascx" TagName="PollView" TagPrefix="cms" %>
<cms:PollView ID="viewPoll" runat="server" />
