<%@ Page Language="C#" AutoEventWireup="true"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Title="Alternative forms - Menu"
    Inherits="CMSModules_CustomTables_AlternativeForms_AlternativeForms_Header" Theme="Default"
    EnableViewState="false" Codebehind="AlternativeForms_Header.aspx.cs" %>

