<%@ Control Language="C#" AutoEventWireup="true" Codebehind="~/CMSWebParts/CommunityServices/LiveWebMessenger.ascx.cs" Inherits="CMSWebParts_CommunityServices_LiveWebMessenger" %>
<asp:Literal ID="ltlWindowsMessenger" runat="server" />