<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_CommunityServices_SocialBookmarking" Codebehind="~/CMSWebParts/CommunityServices/SocialBookmarking.ascx.cs" %>
<asp:Literal runat="server" ID="ltlIcons" EnableViewState="false" />
