<%@ Control Language="C#" AutoEventWireup="true" Codebehind="~/CMSWebParts/CommunityServices/YahooWebMessenger.ascx.cs" Inherits="CMSWebParts_CommunityServices_YahooWebMessenger" %>
<asp:Literal ID="ltlYahooMessenger" runat="server" />