<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_CommunityServices_YouTubeVideo" Codebehind="~/CMSWebParts/CommunityServices/YouTubeVideo.ascx.cs" %>
<asp:Literal ID="ltlPlaceholder" runat="Server" EnableViewState="false" />
<asp:Literal ID="ltlScript" runat="Server" EnableViewState="false" />