<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Wireframe_Components_Breadcrumbs" Codebehind="~/CMSWebParts/Wireframe/Components/Breadcrumbs.ascx.cs" %>
<cms:EditableWebPartList runat="server" id="ltlText" CssClass="WireframeText" PropertyName="Items" Type="TextArea" />