<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Wireframe_Components_LinkBar" Codebehind="~/CMSWebParts/Wireframe/Components/LinkBar.ascx.cs" %>
<cms:EditableWebPartList runat="server" id="ltlText" CssClass="WireframeText" PropertyName="Items" Type="TextArea" />