<%@ Control Language="C#" AutoEventWireup="true" Codebehind="TextSimpleFilter.ascx.cs"
    Inherits="CMSAdminControls_UI_UniGrid_Filters_TextSimpleFilter" %>
<asp:DropDownList ID="drpCondition" runat="server" CssClass="ExtraSmallDropDown" />
<cms:CMSTextBox ID="txtText" runat="server" CssClass="SelectorTextBox" />
