<%@ Page Language="C#" AutoEventWireup="true" Inherits="CMSModules_Ecommerce_Pages_Tools_ProductOptions_OptionCategory_Edit_Header" Theme="Default" MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Title="Option category header" Codebehind="OptionCategory_Edit_Header.aspx.cs" %>
