<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_Forums_ForumPostsDataSource" Codebehind="~/CMSWebParts/Forums/ForumPostsDataSource.ascx.cs" %>
<%@ Register TagPrefix="cms" Namespace="CMS.Forums" Assembly="CMS.Forums" %>
<cms:ForumPostsDataSource runat="server" ID="srcPosts" />