<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSModules_Newsletters_Controls_Newsletter_ContentEditor" Codebehind="Newsletter_ContentEditor.ascx.cs" %>
<iframe id="iframeContent" name="iframeContent" style="width: 100%; background-color: #fff;" 
    frameborder="0" src="<%=frameSrc%>" width="100%"></iframe>