<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSModules_Newsletters_Controls_SubscriptionApproval"
    Codebehind="SubscriptionApproval.ascx.cs" %>
<asp:Label runat="server" ID="lblInfo" CssClass="InfoLabel" EnableViewState="false" />