<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSModules_Newsletters_Controls_TemplateFilter" Codebehind="TemplateFilter.ascx.cs" %>
<asp:Panel runat="server" ID="pnlSearch">
    <asp:DropDownList ID="filter" runat="server" CssClass="UniGridDropDown" />
</asp:Panel>
