<%@ Page Language="C#" AutoEventWireup="true"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Title="Workflow action properties"
    Inherits="CMSModules_Workflows_Pages_WorkflowAction_Header" Theme="Default" Codebehind="Header.aspx.cs" %>