<%@ Page Language="C#" AutoEventWireup="true" Codebehind="WebPartProperties_layout_frameset_header.aspx.cs" Inherits="CMSModules_PortalEngine_UI_WebParts_WebPartProperties_layout_frameset_header" Theme="Default" MasterPageFile="~/CMSMasterPages/UI/Dialogs/TabsHeader.master" %>

