<%@ Page Language="C#" AutoEventWireup="true" Inherits="CMSPages_ScriptManager" MasterPageFile="~/CMSMasterPages/UI/EmptyPage.master"
    Theme="Default" EnableEventValidation="false" Codebehind="ScriptManager.aspx.cs" %>