<%@ Page Language="C#" AutoEventWireup="true" Inherits="CMSPages_WebFarmUpdater"
    Codebehind="WebFarmUpdater.aspx.cs" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server" enableviewstate="false">
    <title>Web Farm Updater</title>
</head>
<body>
    <form id="form1" runat="server">
    </form>
</body>
</html>
