<%@ Page Language="C#" AutoEventWireup="true" 
    Inherits="CMSModules_PortalEngine_UI_PageTemplates_DeviceLayout_Header" Theme="Default"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Title="Device layout - Edit" Codebehind="DeviceLayout_Header.aspx.cs" %>
