<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSModules_Notifications_Controls_NotificationSubscription_EmailNotificationForm" Codebehind="EmailNotificationForm.ascx.cs" %>
<asp:Label ID="lblEmail" runat="server" AssociatedControlID="txtEmail" EnableViewState="false" />
<cms:CMSTextBox ID="txtEmail" runat="server" CssClass="EmailNotificationForm" EnableViewState="false" />
