<%@ Page Language="C#" AutoEventWireup="true" Codebehind="User_Online_Header.aspx.cs"
    Inherits="CMSModules_ContactManagement_Pages_Tools_OnlineUsers_User_Online_Header" Theme="Default"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" %>

