<%@ Page Language="C#" AutoEventWireup="true" Inherits="CMSModules_Ecommerce_Pages_Tools_Configuration_Configuration_Header" Theme="Default" MasterPageFile="~/CMSMasterPages/UI/TabsHeaderVertical.master" Codebehind="Configuration_Header.aspx.cs" %>

