<%@ Page Language="C#" AutoEventWireup="true" Codebehind="Site_SiteObjects_Tabs.aspx.cs"
    Inherits="CMSSitemanager_Sites_Site_SiteObjects_Tabs" MasterPageFile="~/CMSMasterPages/UI/TabsHeaderVertical.master"
    Title="Site - Objects" Theme="Default" %>

