<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Viewers_Basic_BasicUniView" Codebehind="~/CMSWebParts/Viewers/Basic/BasicUniView.ascx.cs" %>
<asp:PlaceHolder runat="server" ID="plcBasicUniView" />