<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_Viewers_Basic_BasicRepeaterWithEffect" Codebehind="~/CMSWebParts/Viewers/Basic/BasicRepeaterWithEffect.ascx.cs" %>
<asp:PlaceHolder runat="server" ID="plcBasicRepeater" />
