<%@ Page Language="C#" MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" AutoEventWireup="true" Inherits="CMSModules_BannerManagement_Tools_Category_Category_Edit_Header"
    Title="Banner categories" Theme="Default" Codebehind="Category_Edit_Header.aspx.cs" %>

