<%@ Control Language="C#" AutoEventWireup="true" Codebehind="~/CMSWebParts/OnlineMarketing/MyPendingContacts.ascx.cs" Inherits="CMSWebParts_OnlineMarketing_MyPendingContacts" %>
<%@ Register src="~/CMSModules/ContactManagement/Controls/UI/Automation/PendingContacts.ascx" tagname="PendingContacts" tagprefix="cms" %>
<cms:PendingContacts ID="pendingContacts" runat="server" />
