<%@ Page Language="C#" AutoEventWireup="true" Inherits="CMSModules_Workflows_Workflow_List"
    MasterPageFile="~/CMSMasterPages/UI/SimplePage.master" Theme="Default" Codebehind="Workflow_List.aspx.cs" %>
<%@ Register src="~/CMSAdminControls/UI/UniGrid/UniGrid.ascx" tagname="UniGrid" tagprefix="cms" %>

<asp:Content ContentPlaceHolderID="plcContent" ID="content" runat="server">
    <cms:UniGrid ID="UniGridWorkflows" runat="server" GridName="Workflow_List.xml" OrderBy="WorkflowDisplayName"
        IsLiveSite="false" />
</asp:Content>
