<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master"
    Inherits="CMSModules_Workflows_Workflow_Step_Header" Theme="Default" EnableViewState="false"
    Codebehind="Workflow_Step_Header.aspx.cs" Title="Workflow Edit - Step Header" %>