<%@ Page Language="C#" AutoEventWireup="true"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Inherits="CMSModules_Workflows_Workflow_Header"
    Theme="Default" EnableViewState="false" Codebehind="Workflow_Header.aspx.cs" %>

