<%@ Control Language="C#" AutoEventWireup="true" Codebehind="CaptchaSelector.ascx.cs" Inherits="CMSFormControls_Captcha_CaptchaSelector" %>
<asp:DropDownList ID="drpSelectCaptcha" runat="server" CssClass="DropDownField" />
