<%@ Control Language="C#" AutoEventWireup="true" Codebehind="VariantFilter.ascx.cs" Inherits="CMSModules_Newsletters_FormControls_VariantFilter" %>
<asp:DropDownList ID="drpVariants" runat="server" CssClass="DropDownField" />