<%@ Control Language="C#" AutoEventWireup="true" 
Inherits="CMSWebParts_CustomTables_CustomTableRepeaterWithEffect" Codebehind="~/CMSWebParts/CustomTables/CustomTableRepeaterWithEffect.ascx.cs" %>

<cms:QueryRepeaterWithEffect id="repItems" runat="server"  /> 