<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_CustomTables_CustomTableDataList" Codebehind="~/CMSWebParts/CustomTables/CustomTableDataList.ascx.cs" %>
    
<cms:QueryDataList ID="lstItems" runat="server" />

