<%@ Control Language="C#" AutoEventWireup="true" 
Inherits="CMSWebParts_CustomTables_customtablerepeater" Codebehind="~/CMSWebParts/CustomTables/customtablerepeater.ascx.cs" %>

<cms:queryrepeater id="repItems" runat="server"  /> 