<%@ Page Language="C#" AutoEventWireup="true"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Title="Polls header"
    Inherits="CMSModules_Polls_Tools_Polls_Header" Theme="Default" Codebehind="Polls_Header.aspx.cs" %>
