<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSModules_Groups_FormControls_ViewGroupAccess" Codebehind="ViewGroupAccess.ascx.cs" %>
<asp:Label ID="lblAccess" runat="server" EnableViewState="false" />