<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSModules_MediaLibrary_Controls_LiveControls_MediaFilePreview" Codebehind="MediaFilePreview.ascx.cs" %>

<asp:Literal ID="ltlOutput" runat="server" EnableViewState="false" />
