<%@ Page Language="C#" AutoEventWireup="true" Inherits="CMSModules_Widgets_UI_Widget_Header"    
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Theme="Default" Codebehind="Widget_Header.aspx.cs" %>
