<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSAdminControls_ContentRating_Controls_RadioButtons" Codebehind="RadioButtons.ascx.cs" %>
<asp:PlaceHolder ID="plcContent" runat="server" />
<cms:CMSButton ID="btnSubmit" runat="server" CssClass="CntRatingSubmitBtn" />
