<%@ Control Language="C#" AutoEventWireup="true" Codebehind="community_group.ascx.cs" Inherits="CMSModules_ImportExport_Controls_Import_Site_community_group" %>
<asp:Panel runat="server" ID="pnlCheck" CssClass="WizardHeaderLine" BackColor="transparent">
    <div>
        <asp:CheckBox ID="chkObject" runat="server" Visible="false" />
    </div>
</asp:Panel>