<%@ Control Language="C#" AutoEventWireup="true" Codebehind="~/CMSWebParts/General/CustomResponse.ascx.cs" Inherits="CMSWebParts_General_CustomResponse" %>
<cms:LocalizedLabel ID="lblInfo" runat="server" Visible="false" CssClass="InfoLabel" ResourceString="customresponse.noresponse" EnableViewState="false" />