<%@ Page Language="C#" AutoEventWireup="true" Theme="Default" Inherits="CMSFormControls_Selectors_SelectFileOrFolder_Default"
    EnableEventValidation="false" Codebehind="Default.aspx.cs" %>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html>
<head id="Head1" runat="server">
    <title>Insert</title>
</head>
<frameset rows="36, *, 43" border="0" id="rowsFrameset">
    <frame name="insertHeader" src="Header.aspx<%=Request.Url.Query%>" scrolling="no"
        frameborder="0" noresize="noresize" id="menu" />
    <frame name="insertContent" src="Content.aspx<%=Request.Url.Query%>" scrolling="no"
        frameborder="0" id="content" />
    <frame name="insertFooter" src="Footer.aspx<%=Request.Url.Query%>" scrolling="no"
        frameborder="0" noresize="noresize" id="footer" />
    <cms:NoFramesLiteral ID="ltlNoFrames" runat="server" />
</frameset>
</html>
