<%@ Control Language="C#" AutoEventWireup="true" Codebehind="ImagePosition.ascx.cs" Inherits="CMSFormControls_Images_ImagePosition" %>

<asp:DropDownList runat="server" ID="drpPosition" CssClass="DropDownField" />