<%@ Page Title="" Language="C#" MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master"
    AutoEventWireup="true" Codebehind="Header.aspx.cs" Theme="Default" Inherits="CMSModules_DeviceProfile_Pages_Development_Header" %>

