<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master"
    Theme="Default" Codebehind="~/CMSModules/Reporting/Tools/ReportCategoryedit_header.aspx.cs"
    Inherits="CMSModules_Reporting_Tools_ReportCategoryEdit_Header" %>

