<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_ContentRating_ContentRating" Codebehind="~/CMSWebParts/ContentRating/ContentRating.ascx.cs" %>
<%@ Register Src="~/CMSAdminControls/ContentRating/RatingControl.ascx" TagName="RatingControl" TagPrefix="cms" %>

<cms:RatingControl ID="elemRating" runat="server" />

