<%@ Page Language="C#" AutoEventWireup="true"
    Inherits="CMSModules_Friends_MyFriends_MyFriends_Header" MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master"
    Title="Friends header" Theme="default" Codebehind="MyFriends_Header.aspx.cs" %>

