<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Ecommerce_Products_ProductDataList" Codebehind="~/CMSWebParts/Ecommerce/Products/ProductDataList.ascx.cs" %>

<cms:CMSDataList ID="productDataList" runat="server" />
