<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Ecommerce_Products_RandomProducts" Codebehind="~/CMSWebParts/Ecommerce/Products/RandomProducts.ascx.cs" %>
<cms:CMSRepeater ID="repeater" runat="server" />
