<%@ Page Language="C#" AutoEventWireup="true"
    Inherits="CMSModules_PortalEngine_UI_WebParts_Development_Category_Header" MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master"
    Theme="Default" Title="Category header" Codebehind="Category_Header.aspx.cs" %>

