<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSModules_PortalEngine_UI_WebParts_Development_DefaultValueEditor" Codebehind="DefaultValueEditor.ascx.cs" %>
<asp:Panel runat="server" ID="pnlEditor" CssClass="DefaultValueEditorPanel" />
<br />
<div class="TextRight">
    <cms:FormSubmitButton runat="server" ID="btnOk" OnClick="btnOk_Click" CssClass="SubmitButton" />
</div>
