<%@ Page ValidateRequest="false" Language="C#" AutoEventWireup="true" MasterPageFile="~/CMSMasterPages/UI/SimplePage.master"
    Inherits="CMSModules_PortalEngine_UI_WebParts_Development_WebPart_Edit_Properties"
    Theme="Default" EnableEventValidation="false" Codebehind="WebPart_Edit_Properties.aspx.cs" %>

<%@ Register Src="DefaultValueEditor.ascx" TagName="DefaultValueEditor" TagPrefix="cms" %>
<%@ Register Src="~/CMSModules/AdminControls/Controls/Class/FieldEditor/FieldEditor.ascx"
    TagName="FieldEditor" TagPrefix="cms" %>
<asp:Content ContentPlaceHolderID="plcContent" ID="content" runat="server">
    <cms:FieldEditor ID="FieldEditor" ShortID="f" runat="server" DisplaySourceFieldSelection="false" IsLiveSite="false" />
    <asp:Panel ID="pnlDefaultEditor" runat="server" CssClass="FieldPanelError" Visible="false">
        <cms:DefaultValueEditor ID="defaultValueEditor" ShortID="d" runat="server" Visible="false" />
    </asp:Panel>
</asp:Content>
