<%@ Page Language="C#" AutoEventWireup="true"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Inherits="CMSModules_PortalEngine_UI_WebParts_Development_WebPart_Edit_Header" Theme="Default" Codebehind="WebPart_Edit_Header.aspx.cs" %>
