<%@ Page Language="C#" AutoEventWireup="true" Codebehind="WebPart_Edit_Layout_Header.aspx.cs"
    Inherits="CMSModules_PortalEngine_UI_WebParts_Development_WebPart_Edit_Layout_Header"
    Theme="Default" MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" %>