<%@ Page Language="C#" AutoEventWireup="true" Inherits="CMSModules_PortalEngine_UI_WebParts_Development_WebPart_Header"    
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Theme="Default" Codebehind="WebPart_Header.aspx.cs" %>
