<%@ Page Language="C#" AutoEventWireup="true" Inherits="CMSModules_Staging_Tools_Header"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Title="Content staging"
    Theme="Default" EnableViewState="false" Codebehind="Header.aspx.cs" %>

