<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Wireframe_Forms_Button" Codebehind="~/CMSWebParts/Wireframe/Forms/Button.ascx.cs" %>
<cms:EditableWebPartProperty runat="server" id="ltlText" CssClass="WireframeButton" PropertyName="Text" Type="TextBox" />
<cms:WebPartResizer runat="server" id="resElem" RenderEnvelope="true" />