<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Wireframe_Forms_CheckBoxList" Codebehind="~/CMSWebParts/Wireframe/Forms/CheckBoxList.ascx.cs" %>
<cms:EditableWebPartList runat="server" id="ltlText" PropertyName="Items" Type="TextArea" />
