<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Wireframe_Forms_ColorPicker" Codebehind="~/CMSWebParts/Wireframe/Forms/ColorPicker.ascx.cs" %>
<cms:EditableWebPartColor runat="server" CssClass="WireframeColorPicker" id="colElem" />