<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Wireframe_Forms_RadioButton" Codebehind="~/CMSWebParts/Wireframe/Forms/RadioButton.ascx.cs" %>
<asp:Literal  runat="server" ID="ltlRadio" EnableViewState="false" />
<cms:EditableWebPartProperty runat="server" id="ltlText" CssClass="WireframeText" PropertyName="Text" Type="TextBox" />