<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Wireframe_Forms_RadioButtonList" Codebehind="~/CMSWebParts/Wireframe/Forms/RadioButtonList.ascx.cs" %>
<cms:EditableWebPartList runat="server" id="ltlText" PropertyName="Items" Type="TextArea" />
