<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Wireframe_Forms_TextArea" Codebehind="~/CMSWebParts/Wireframe/Forms/TextArea.ascx.cs" %>
<cms:EditableWebPartProperty runat="server" id="ltlText" CssClass="WireframeTextArea" PropertyName="Text" Type="TextArea" />
<cms:WebPartResizer runat="server" id="resElem" RenderEnvelope="true" />
