<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Community_Groups_GroupsFilter" Codebehind="~/CMSWebParts/Community/Groups/GroupsFilter.ascx.cs" %>
<%@ Register Src="~/CMSWebParts/Community/Groups/GroupsFilter_files/GroupsFilterControl.ascx" TagName="GroupsFilterControl"
    TagPrefix="uc1" %>
<uc1:GroupsFilterControl ID="filterGroups" runat="server" />