<%@ Control Language="C#" AutoEventWireup="true" Codebehind="APIExampleSection.ascx.cs"
    Inherits="CMSAPIExamples_Controls_APIExampleSection" %>
<div class="ExampleSection">
    <asp:Literal runat="server" ID="ltlTitle" />
</div>
