<%@ Page Language="C#" AutoEventWireup="true"
    Inherits="CMSModules_Messaging_Dialogs_MessageUserSelector_Header" MasterPageFile="~/CMSMasterPages/UI/Dialogs/TabsHeader.master" Theme="Default" EnableEventValidation="false" Codebehind="MessageUserSelector_Header.aspx.cs" %>
