<%@ Master Language="C#" AutoEventWireup="true" Inherits="CMSMasterPages_UI_Dialogs_ModalDialogPage"
    Codebehind="ModalDialogPage.master.cs" %>

<%@ Register Src="~/CMSModules/Objects/Controls/Locking/ObjectEditPanel.ascx" TagName="ObjectEditPanel"
    TagPrefix="cms" %>
<%@ Register Src="~/CMSAdminControls/UI/PageElements/PageTitle.ascx" TagName="PageTitle"
    TagPrefix="cms" %>
<%@ Register Src="~/CMSAdminControls/UI/Development/DevTools.ascx" TagName="DevTools"
    TagPrefix="cms" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server" enableviewstate="false">
    <title>SimpleMasterPage</title>
    <asp:Literal ID="ltlHeadElements" runat="server" Visible="false" EnableViewState="false" />
    <style type="text/css">
        html, body
        {
            margin: 0px;
            padding: 0px;
            height: 100%;
            overflow: hidden;
        }
    </style>
</head>
<body id="bodyElem" runat="server">
    <form id="form1" runat="server">
    <asp:PlaceHolder runat="server" ID="plcManager" />
    <asp:PlaceHolder runat="server" ID="plcStatus" EnableViewState="false" />
    <asp:ContentPlaceHolder ID="plcBeforeBody" runat="server" />
    <asp:Panel ID="pnlBody" runat="server" CssClass="DialogPageBody">
        <cms:CMSPanel ID="pnlContainerHeader" runat="server" FixedPosition="true">
            <div id="divHeader" style="min-height: 0px;" class="DialogsPageHeader SimpleHeader">
                <asp:Panel ID="pnlHeader" runat="server" EnableViewState="false">
                    <cms:PageTitle ID="titleElem" ShortID="pt" runat="server" Wrap="true" />
                </asp:Panel>
                <asp:Panel ID="pnlTitleActions" runat="server" Visible="false" CssClass="PageHeaderLine"
                    EnableViewState="false">
                    <asp:ContentPlaceHolder runat="server" ID="plcTitleActions" />
                </asp:Panel>
                <asp:ContentPlaceHolder ID="plcHeaderTabs" runat="server" />
                <asp:Panel ID="pnlSiteSelector" runat="server" CssClass="PageHeaderLine SiteHeaderLine"
                    Visible="false">
                    <asp:ContentPlaceHolder runat="server" ID="plcSiteSelector" />
                </asp:Panel>
                <asp:Panel ID="pnlAdditionalControls" runat="server" CssClass="PageHeaderLine" Visible="false">
                    <asp:ContentPlaceHolder runat="server" ID="plcControls" />
                </asp:Panel>
                <asp:Panel ID="pnlActions" runat="server" CssClass="CMSEditMenu" EnableViewState="false">
                    <cms:ObjectEditPanel ID="actionsElem" runat="server" IsLiveSite="false" />
                    <asp:ContentPlaceHolder runat="server" ID="plcActions" />
                </asp:Panel>
                <asp:ContentPlaceHolder ID="plcBeforeContent" runat="server" />
            </div>
        </cms:CMSPanel>
        <div id="CMSHeaderDiv">
            <div id="CKToolbar">
            </div>
        </div>
        <div id="divContent" class="ModalDialogContent">
            <asp:Panel ID="pnlContent" runat="server">
                <cms:CMSUpdateProgress ID="up" runat="server" HandlePostback="true" />
                <asp:PlaceHolder runat="server" ID="plcLabels" />
                <asp:ContentPlaceHolder ID="plcContent" runat="server" />
            </asp:Panel>
        </div>
        <asp:Panel runat="server" ID="pnlFooterContainer" CssClass="ModalDialogFooter">
            <asp:Panel ID="pnlFooterContent" runat="server">
                <div id="CKFooter">
                </div>
                <div id="divFooter" class="PageFooterLine" style="min-height: 0px; position: static;">
                    <asp:Panel runat="server" ID="pnlFooter">
                        <asp:ContentPlaceHolder ID="plcFooter" runat="server" />
                    </asp:Panel>
                    <div class="ClearBoth">
                        &nbsp;</div>
                </div>
            </asp:Panel>
        </asp:Panel>
    </asp:Panel>
    <cms:DevTools ID="devElem" runat="server" />
    </form>
    <asp:PlaceHolder runat="server" ID="plcAfterForm"></asp:PlaceHolder>
</body>
</html>
