<%@ Page Language="C#" AutoEventWireup="true" Codebehind="Module_Edit_PermissionName_Edit_Header.aspx.cs" 
MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Theme="Default" Inherits="CMSModules_Modules_Pages_Development_Module_Edit_PermissionName_Edit_Header" %>

<asp:Content ID="Content1" ContentPlaceHolderID="plcActions" runat="Server">
</asp:Content>
