<%@ Page Language="C#" AutoEventWireup="true" 
    Inherits="CMSModules_Modules_Pages_Development_Module_Edit_Header" Theme="Default"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Title="Module Edit - Header" Codebehind="Module_Edit_Header.aspx.cs" %>
