<%@ Page Title="Module edit - User interface - Header" Language="C#" MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master"
    AutoEventWireup="true" Inherits="CMSModules_Modules_Pages_Development_Module_UI_Header" Theme="Default" Codebehind="Module_UI_Header.aspx.cs" %>

<asp:Content ID="Content1" ContentPlaceHolderID="plcActions" runat="Server">
</asp:Content>
