<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_CommunityServices_LinkedIn_LinkedInShareButton" Codebehind="~/CMSWebParts/CommunityServices/LinkedIn/LinkedInShareButton.ascx.cs" %>
<asp:Literal runat="server" ID="ltlButtonCode" EnableViewState="false" />