<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_CommunityServices_LinkedIn_LinkedInRecommendButton" Codebehind="~/CMSWebParts/CommunityServices/LinkedIn/LinkedInRecommendButton.ascx.cs" %>
<asp:Literal runat="server" ID="ltlButtonCode" EnableViewState="false" />