<%@ Page Language="C#" AutoEventWireup="true" Codebehind="NewsletterTemplate_Frameset.aspx.cs" Inherits="CMSModules_Newsletters_Tools_Templates_NewsletterTemplate_Frameset" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server" enableviewstate="false">
    <title>Newsletter template - edit</title>
</head>
<frameset border="0" rows="<%=TabsBreadHeadFrameHeight%>, *" id="rowsFrameset">
    <frame name="Menu" src="NewsletterTemplate_Header.aspx?<%=QueryHelper.EncodedQueryString%>"
        scrolling="no" frameborder="0" noresize="noresize" />
    <frame name="Content" src="NewsletterTemplate_Edit.aspx?<%=QueryHelper.EncodedQueryString%>"
        frameborder="0" noresize="noresize" />
    <cms:NoFramesLiteral ID="ltlNoFrames" runat="server" />
</frameset>
</html>
