<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSFormControls_Viewers_ViewSecureText" Codebehind="ViewSecureText.ascx.cs" %>

<asp:Label ID="lblText" runat="server" EnableViewState="false" />
