<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSFormControls_Viewers_ViewInteger" Codebehind="ViewInteger.ascx.cs" %>

<asp:Label ID="lblNumber" runat="server" EnableViewState="false" />
