<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSFormControls_Viewers_ViewUserGender" Codebehind="ViewUserGender.ascx.cs" %>

<asp:Label ID="lblGender" runat="server" EnableViewState="false" />
