<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_CommunityServices_Pinterest_PinterestPinItButton"
    Codebehind="~/CMSWebParts/CommunityServices/Pinterest/PinterestPinItButton.ascx.cs" %>

<asp:Literal runat="server" ID="ltlPluginCode" EnableViewState="false" />