<%@ Control Language="C#" AutoEventWireup="true" Codebehind="~/CMSWebParts/CommunityServices/Pinterest/PinterestFollowButton.ascx.cs"
    Inherits="CMSWebParts_CommunityServices_Pinterest_PinterestFollowButton" %>

<asp:Literal runat="server" ID="ltlPluginCode" EnableViewState="false" />