<%@ Page Language="C#" AutoEventWireup="true" Inherits="CMSModules_Content_CMSDesk_Properties_Header"
    Theme="Default" MasterPageFile="~/CMSMasterPages/UI/TabsHeaderVertical.master" Codebehind="Header.aspx.cs" %>

