<%@ Control Language="C#" AutoEventWireup="true" Codebehind="EncryptedPassword.ascx.cs" Inherits="CMSModules_Membership_FormControls_Passwords_EncryptedPassword" %>
<cms:CMSTextBox runat="server" ID="txtPassword" TextMode="Password" CssClass="TextBoxField" ></cms:CMSTextBox >
