<%@ Page Language="C#" AutoEventWireup="true" Inherits="CMSModules_Ecommerce_Pages_Tools_DiscountLevels_DiscountLevel_Edit_Header"
    Theme="Default" MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Title="Discount level - Edit - Header"
    Codebehind="DiscountLevel_Edit_Header.aspx.cs" %>

