<%@ Control Language="C#" AutoEventWireup="true" Codebehind="SiteOrGlobalSelector.ascx.cs"
    Inherits="CMSFormControls_Sites_SiteOrGlobalSelector" %>
<asp:DropDownList ID="dropDownList" runat="server" AutoPostBack="true" CssClass="DropDownField" />
