<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSModules_Avatars_FormControls_ViewUserAvatar" Codebehind="ViewUserAvatar.ascx.cs" %>

<asp:Image ID="imgAvatar" runat="server" EnableViewState="false" />
