<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSModules_Avatars_FormControls_ViewGroupAvatar" Codebehind="ViewGroupAvatar.ascx.cs" %>

<asp:Image ID="imgAvatar" runat="server" EnableViewState="false" />
