<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_ProjectManagement_TaskInfoPanel" Codebehind="~/CMSWebParts/ProjectManagement/TaskInfoPanel.ascx.cs" %>

<asp:HyperLink runat="server" ID="lnkProjects" EnableViewState="false" />
