<%@ Page Language="C#" MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" AutoEventWireup="true" Inherits="CMSModules_TagGroups_Pages_Development_TagGroup_Edit_Header"
    Title="Tag Groups" Theme="Default" Codebehind="TagGroup_Edit_Header.aspx.cs" %>

