<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSModules_Badges_FormControls_ViewBadgeText" Codebehind="ViewBadgeText.ascx.cs" %>

<asp:Label ID="lblBadgeText" runat="server" EnableViewState="false" />