<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSModules_Badges_FormControls_ViewBadgeImage" Codebehind="ViewBadgeImage.ascx.cs" %>

<asp:Image ID="imgBadge" runat="server" EnableViewState="false" />
