<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_Layouts_Wizard_Wizard" Codebehind="~/CMSWebParts/Layouts/Wizard/Wizard.ascx.cs" %>
<asp:HiddenField runat="server" ID="hdnCurrent" EnableViewState="false" />
<asp:HiddenField runat="server" ID="hdnItems" EnableViewState="false" />
<asp:PlaceHolder runat="server" id="plcL" />
