<%@ Page Language="C#" AutoEventWireup="true"
    Inherits="CMSModules_CustomTables_CustomTable_Edit_Header" Theme="Default" MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master"
    Title="Custom table edit - Header" EnableViewState="false" Codebehind="CustomTable_Edit_Header.aspx.cs" %>

