<%@ Page Language="C#" AutoEventWireup="true" Codebehind="CustomTable_Edit_Query_Header.aspx.cs"
    Inherits="CMSModules_CustomTables_CustomTable_Edit_Query_Header" Theme="Default"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" %>