<%@ Page Language="C#" MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" AutoEventWireup="true" Inherits="CMSModules_BannerManagement_Tools_Banner_Banner_Edit_Header"
    Title="Banner categories" Theme="Default" Codebehind="Banner_Edit_Header.aspx.cs" %>