<%@ Control Language="C#" AutoEventWireup="true" Codebehind="SourcePointSelector.ascx.cs"
    Inherits="CMSModules_Workflows_FormControls_SourcePointSelector" %>
<asp:DropDownList ID="ddlSourcePoints" runat="server" CssClass="DropDownField" />
