<%@ Page Language="C#" AutoEventWireup="true"
    Inherits="CMSModules_SystemTables_Pages_Development_Views_ViewEdit_Header"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Title="System tables edit"
    Theme="Default" Codebehind="ViewEdit_Header.aspx.cs" %>
    
