<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_Messaging_IgnoreList" Codebehind="~/CMSWebParts/Messaging/IgnoreList.ascx.cs" %>
<%@ Register Src="~/CMSModules/Messaging/Controls/IgnoreList.ascx" TagName="IgnoreList"
    TagPrefix="cms" %>
<cms:IgnoreList ID="lstIgnore" runat="server" />
