<%@ Control Language="C#" AutoEventWireup="true" Codebehind="Details.ascx.cs" Inherits="CMSModules_ContactManagement_Controls_UI_Activity_Details" %>
<asp:Panel runat="server" ID="pnlDetails" Visible="false" EnableViewState="false" CssClass="ActivityPanel">
</asp:Panel>