<%@ Page Language="C#" AutoEventWireup="true"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Title="Project properties"
    Inherits="CMSModules_ProjectManagement_Pages_Tools_Header" Theme="Default" Codebehind="Header.aspx.cs" %>