<%@ Page Language="C#" MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" AutoEventWireup="true" Inherits="CMSModules_Blogs_MyBlogs_MyBlogs_Header"
    Title="My Blogs - Header" Theme="Default" EnableViewState="false" Codebehind="MyBlogs_Header.aspx.cs" %>

