<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSAdminControls_UI_UniSelector_Controls_SelectorMenu"
    Codebehind="SelectorMenu.ascx.cs" %>
<asp:Panel runat="server" ID="pnlSelectorMenu">
    <cms:ContextMenuItem runat="server" ID="iRemoveAll" />
</asp:Panel>
