<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Community_Membership_LeaveGroup" Codebehind="~/CMSWebParts/Community/Membership/LeaveGroup.ascx.cs" %>
<%@ Register Src="~/CMSModules/Groups/Controls/GroupLeave.ascx" TagName="GroupLeave"
    TagPrefix="cms" %>
<cms:GroupLeave ID="groupLeave" runat="server" />

