<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_MediaLibrary_MediaGalleryFilter" Codebehind="~/CMSWebParts/MediaLibrary/MediaGalleryFilter.ascx.cs" %>
<%@ Register Src="~/CMSModules/MediaLibrary/Controls/Filters/MediaLibrarySort.ascx" TagName="LibrarySort" TagPrefix="cms" %>

<cms:LibrarySort ID="libSort" runat="server" />