<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_MediaLibrary_MediaFileDataSource" Codebehind="~/CMSWebParts/MediaLibrary/MediaFileDataSource.ascx.cs" %>
<%@ Register TagPrefix="cms" Namespace="CMS.MediaLibrary" Assembly="CMS.MediaLibrary" %>
<cms:MediaFileDataSource ID="srcMedia" runat="server" />
