<%@ Control Language="C#" AutoEventWireup="true" Codebehind="FolderSelector.ascx.cs" Inherits="CMSFormControls_Dialogs_FolderSelector" %>
<%@ Register Src="~/CMSFormControls/Dialogs/FileSystemSelector.ascx" TagName="FileSystemSelector" TagPrefix="cms" %>

<cms:FileSystemSelector ID="selFile" runat="server" />