<%@ Control Language="C#" AutoEventWireup="true" Codebehind="~/CMSFormControls/Classes/SelectHierarchicalTransformation.ascx.cs"
    Inherits="CMSFormControls_Classes_SelectHierarchicalTransformation" %>
<%@ Register Src="~/CMSFormControls/Classes/SelectTransformation.ascx" TagName="SelectTransformation"
    TagPrefix="cms" %>
<cms:SelectTransformation runat="server" ID="SelectTransformation" ShowHierarchicalTransformation="true" />

