<%@ Control Language="C#" AutoEventWireup="true" Codebehind="EmailTemplateTypeSelector.ascx.cs"
    Inherits="CMSModules_EmailTemplates_FormControls_EmailTemplateTypeSelector" %>
<asp:DropDownList ID="drpEmailType" runat="server" CssClass="TextBoxField" />
