<%@ Page Language="C#" AutoEventWireup="true"
  MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Title="Media library properties"
  Inherits="CMSModules_Groups_Tools_MediaLibrary_Library_Edit_Header" Theme="Default" Codebehind="Library_Edit_Header.aspx.cs" %>
