<%@ Page Language="C#" AutoEventWireup="true"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeaderVertical.master" Title="Project management - Configuration"
    Inherits="CMSModules_ProjectManagement_Pages_Tools_Configuration_Header" Theme="Default" Codebehind="Header.aspx.cs" %>
