<%@ Page Language="C#" AutoEventWireup="true" Codebehind="Product_Edit_Advanced_Header.aspx.cs"
    Inherits="CMSModules_Ecommerce_Pages_Tools_Products_Product_Edit_Advanced_Header"
    Theme="Default" MasterPageFile="~/CMSMasterPages/UI/TabsHeaderVertical.master" %>
