<%@ Page Language="C#" AutoEventWireup="true"  MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Inherits="CMSModules_Ecommerce_Pages_Tools_Products_Product_Edit_Header" Theme="Default" Codebehind="Product_Edit_Header.aspx.cs" %>
