<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Blogs_BlogCommentsDataSource" Codebehind="~/CMSWebParts/Blogs/BlogCommentsDataSource.ascx.cs" %>
<%@ Register TagPrefix="cms" Namespace="CMS.Blogs" Assembly="CMS.Blogs" %>
<cms:BlogCommentDataSource ID="srcComments" runat="server" />