<%@ Control Language="C#" AutoEventWireup="true" Codebehind="~/CMSWebparts/Blogs/BlogSubscriptionApproval.ascx.cs" Inherits="CMSWebParts_Blogs_BlogSubscriptionApproval" %>
<%@ Register Src="~/CMSModules/Blogs/Controls/SubscriptionApproval.ascx" TagName="SubscriptionApproval"
    TagPrefix="cms" %>
<cms:SubscriptionApproval ID="subscriptionApproval" runat="server" />