<%@ Page Language="C#" AutoEventWireup="true" Codebehind="Edit_OnlineMarketing.aspx.cs" Inherits="CMSModules_SystemTables_Pages_Development_SystemTable_Edit_OnlineMarketing"
    Theme="Default" MasterPageFile="~/CMSMasterPages/UI/SimplePage.master" Title="System tables - on-line marketing" %>

<asp:Content ID="cntBody" runat="server" ContentPlaceHolderID="plcContent">
    <asp:PlaceHolder ID="plcMapping" runat="server" />
</asp:Content>