<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_Syndication_Basic_AtomRepeater" Codebehind="~/CMSWebParts/Syndication/Basic/AtomRepeater.ascx.cs" %>
<cms:AtomRepeater ID="atomRepeater" runat="server" />
