<%@ Control Language="C#" AutoEventWireup="true" Codebehind="CustomerTypeFilter.ascx.cs"
    Inherits="CMSModules_Ecommerce_Controls_Filters_CustomerTypeFilter" %>
<asp:DropDownList runat="server" ID="ddlCustomerType" CssClass="ContentDropdown" />
