<%@ Page Language="C#" AutoEventWireup="true" Inherits="CMSModules_Ecommerce_Pages_Tools_Configuration_StoreSettings_StoreSettings_Frameset"
    Codebehind="StoreSettings_Frameset.aspx.cs" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server" enableviewstate="false">
    <title>Store settings - Edit</title>
</head>
<frameset border="0" frameborder="0" id="rowsFrameset" runat="server">
    <frame name="storesettingsHeader" scrolling="no" runat="server" id="storesettingsHeader"
        frameborder="0" noresize="noresize" />
    <frame name="storesettingsContent" scrolling="auto" runat="server" id="storesettingsContent"
        frameborder="0" noresize="noresize" />
    <cms:NoFramesLiteral ID="ltlNoFrames" runat="server" />
</frameset>
</html>
