<%@ Control Language="C#" AutoEventWireup="true" Codebehind="SelectProductType.ascx.cs"
    Inherits="CMSModules_Ecommerce_FormControls_SelectProductType" %>
<cms:LocalizedDropDownList ID="drpProductType" runat="server" CssClass="DropDownField" />
