<%@ Control Language="C#" AutoEventWireup="true" Codebehind="SelectTaxAddressType.ascx.cs" Inherits="CMSModules_Ecommerce_FormControls_SelectTaxAddressType" %>
<asp:RadioButtonList ID="rblAddresType" runat="server" RepeatDirection="Horizontal" CssClass="RadioButtonList" />