<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Text_editableimage" Codebehind="~/CMSWebParts/Text/editableimage.ascx.cs" %>
<%@ Register src="~/CMSModules/PortalEngine/Controls/Editable/EditableImage.ascx" tagname="EditableImage" tagprefix="cms" %>
<cms:EditableImage ID="ucEditableImage" runat="server" />

