<%@ Control Language="C#" AutoEventWireup="True" Inherits="CMSWebParts_CommunityServices_Facebook_FacebookSendButton" Codebehind="~/CMSWebParts/CommunityServices/Facebook/FacebookSendButton.ascx.cs" %>
<asp:Literal runat="server" ID="ltlSendButtonCode" />