<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_CommunityServices_Facebook_FacebookFacepile" Codebehind="~/CMSWebParts/CommunityServices/Facebook/FacebookFacepile.ascx.cs" %>
<asp:Literal runat="server" ID="ltlLikeBox" EnableViewState="false" />