<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_CommunityServices_Facebook_FacebookRecommendations" Codebehind="~/CMSWebParts/CommunityServices/Facebook/FacebookRecommendations.ascx.cs" %>
<asp:Literal runat="server" ID="ltlRecommendations" EnableViewState="false" />