<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_CommunityServices_Facebook_FacebookLikeBox" Codebehind="~/CMSWebParts/CommunityServices/Facebook/FacebookLikeBox.ascx.cs" %>
<asp:Literal runat="server" ID="ltlLikeBox" EnableViewState="false" />