<%@ Control Language="C#" AutoEventWireup="true" Codebehind="~/CMSWebParts/CommunityServices/Facebook/FacebookLikeButton.ascx.cs" Inherits="CMSWebParts_CommunityServices_Facebook_FacebookLikeButton" %>
<asp:Literal runat="server" ID="ltlLikeButtonCode" />