<%@ Control Language="C#" AutoEventWireup="true" Codebehind="~/CMSWebParts/CommunityServices/Facebook/FacebookComments.ascx.cs" Inherits="CMSWebParts_CommunityServices_Facebook_FacebookComments" %>
<asp:Literal runat="server" ID="ltlComments" EnableViewState="false" />