<%@ Page Language="C#" AutoEventWireup="true"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Title="Campaign properties"
    Inherits="CMSModules_WebAnalytics_Pages_Tools_Campaign_Header" Theme="Default" Codebehind="Header.aspx.cs" %>