<%@ Control Language="C#" AutoEventWireup="true" Codebehind="CodeName.ascx.cs" Inherits="CMSFormControls_System_CodeName" %>
<cms:CMSTextBox ID="textbox" runat="server" CssClass="TextBoxField" /><asp:Image runat="server" ID="imgHelp" EnableViewState="false" CssClass="TextBoxHelp" />