<%@ Control Language="C#" AutoEventWireup="true" Codebehind="EventLogTypeSelector.ascx.cs"
    Inherits="CMSFormControls_System_EventLogTypeSelector" %>
<asp:DropDownList ID="drpType" runat="server" CssClass="DropDownFieldFilter" EnableViewState="true" />
