<%@ Control Language="C#" AutoEventWireup="true" Codebehind="ObjectTypeSelector.ascx.cs" Inherits="CMSFormControls_System_ObjectTypeSelector" %>

<asp:DropDownList ID="drpType" runat="server" AutoPostBack="false" CssClass="DropDownField" />