<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSFormControls_System_Password" Codebehind="Password.ascx.cs" %>
<cms:CMSTextBox CssClass="TextBoxField" runat="server" ID="txtPassword" TextMode="Password" />


