<%@ Control Language="C#" AutoEventWireup="true" Codebehind="UserControlTypeSelector.ascx.cs"
    Inherits="CMSFormControls_System_UserControlTypeSelector" %>
<asp:DropDownList ID="drpType" runat="server" CssClass="DropDownField" EnableViewState="true" />
