<%@ Page Language="C#" AutoEventWireup="true" Codebehind="Header.aspx.cs"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Title="Contact properties"
    Inherits="CMSModules_ContactManagement_Pages_Tools_Contact_Membership_Header" Theme="Default" %>