<%@ Page Language="C#" AutoEventWireup="true" 
    Inherits="CMSModules_InlineControls_Pages_Development_Header" Theme="Default"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Title="Inline controls - List" Codebehind="Header.aspx.cs" %>
