<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_Community_Members_GroupMembersDataSource" Codebehind="~/CMSWebParts/Community/Members/GroupMembersDataSource.ascx.cs" %>
<%@ Register TagPrefix="cms" Namespace="CMS.Community" Assembly="CMS.Community" %>
<cms:MembersDataSource ID="srcMembers" runat="server" />
