<%@ Master Language="C#" AutoEventWireup="true" Inherits="CMSMasterPages_LiveSite_Dialogs_TabsHeader"
    Codebehind="TabsHeader.master.cs" %>

<%@ Register Src="~/CMSAdminControls/UI/PageElements/HeaderActions.ascx" TagName="HeaderActions"
    TagPrefix="cms" %>
<%@ Register Src="~/CMSAdminControls/UI/PageElements/PageTitle.ascx" TagName="PageTitle"
    TagPrefix="cms" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<%@ Register TagPrefix="cms" Namespace="CMS.UIControls" Assembly="CMS.UIControls" %>
<%@ Register Src="~/CMSAdminControls/UI/PageElements/FrameResizer.ascx" TagName="FrameResizer"
    TagPrefix="cms" %>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server" enableviewstate="false">
    <title>TabsHeaderMasterPage</title>
    <asp:Literal ID="ltlHeadElements" runat="server" Visible="false"></asp:Literal>
    <style type="text/css">
        body
        {
            margin: 0px;
            padding: 0px;
            height: 100%;
        }
    </style>
</head>
<body class="<%=mBodyClass%>">
    <form id="form1" runat="server">
    <asp:PlaceHolder runat="server" ID="plcManager" />
    <asp:PlaceHolder runat="server" ID="plcStatus" EnableViewState="false" />
    <div class="LiveSiteDialog">
        <cms:frameresizer id="frmResizer" runat="server" minsize="6, *" vertical="True" />
        <asp:Panel runat="server" ID="pnlBody" CssClass="TabsPageHeader">
            <asp:Panel runat="server" ID="pnlTitle" CssClass="DialogsPageHeader" EnableViewState="false">
                <cms:pagetitle id="titleElem" runat="server" shortid="pt" />
            </asp:Panel>
            <asp:Panel ID="pnlActions" runat="server" CssClass="PageHeaderLine" EnableViewState="false">
                <cms:headeractions id="actionsElem" runat="server" />
                <asp:ContentPlaceHolder runat="server" ID="plcActions" />
                <asp:ContentPlaceHolder ID="plcContent" runat="server" />
            </asp:Panel>
            <asp:Panel runat="server" ID="pnlTabsContainer" CssClass="TabsPageTabs LightTabs"
                EnableViewState="false">
                <asp:Panel runat="server" ID="pnlLeft" CssClass="FullTabsLeft">
                    &nbsp;
                </asp:Panel>
                <asp:Panel runat="server" ID="pnlTabs" CssClass="TabsTabs">
                    <asp:Panel runat="server" ID="pnlWhite" CssClass="Tabs">
                        <cms:uitabs id="tabControlElem" runat="server" useclientscript="true" shortid="t" />
                    </asp:Panel>
                </asp:Panel>
                <asp:Panel runat="server" ID="pnlRight" CssClass="FullTabsRight">
                    &nbsp;
                </asp:Panel>
            </asp:Panel>
            <asp:Panel runat="server" ID="pnlSeparator" CssClass="HeaderSeparator">
                &nbsp;
            </asp:Panel>
        </asp:Panel>
    </div>
    </form>
</body>
</html>
