<%@ Control Language="C#" AutoEventWireup="true" Codebehind="~/CMSFormControls/Inputs/DueDateSelector.ascx.cs"
    Inherits="CMSFormControls_Inputs_DueDateSelector" %>
<cms:CMSTextBox ID="txtQuantity" runat="server" Width="64px" MaxLength="4" />&nbsp;
<asp:DropDownList ID="drpScale" runat="server" AutoPostBack="true" />
