<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSFormControls_Inputs_EmailInput" Codebehind="EmailInput.ascx.cs" %>

<cms:CMSTextBox runat="server" ID="txtEmailInput" CssClass="TextBoxField" MaxLength="100" />
