<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSFormControls_Inputs_EncodingTextBox" Codebehind="EncodingTextBox.ascx.cs" %>
<cms:CMSTextBox ID="txtValue" runat="server" CssClass="TextBoxField" />
