<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSFormControls_Inputs_InternationalPhone" Codebehind="InternationalPhone.ascx.cs" %>

<asp:Label ID="Label1" runat="server" >+</asp:Label>
<cms:CMSTextBox runat="server" ID="txt1st" MaxLength="4" Width="30" />
&nbsp;
<cms:CMSTextBox runat="server" ID="txt2nd" MaxLength="20" />
