<%@ Control Language="C#" AutoEventWireup="true" Codebehind="TextboxDoubleValidator.ascx.cs"
    Inherits="CMSFormControls_Inputs_TextboxDoubleValidator" %>
<cms:CMSTextBox ID="txtValue" runat="server" CssClass="TextBoxField" />