<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSFormControls_Inputs_TextBoxDefaultSetting" Codebehind="TextBoxDefaultSetting.ascx.cs" %>
<cms:CMSTextBox ID="txtValue" runat="server" CssClass="TextBoxField" />
