<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSFormControls_Inputs_USZIPCode" Codebehind="USZIPCode.ascx.cs" %>

<cms:CMSTextBox runat="server" ID="txtZIPCode" MaxLength="5" Width="40" />
