<%@ Page Language="C#" AutoEventWireup="true"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Title="Alternative forms - Menu"
    Inherits="CMSModules_DocumentTypes_Pages_AlternativeForms_AlternativeForms_Header"
    Theme="Default" Codebehind="AlternativeForms_Header.aspx.cs" %>
    