<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSModules_PortalEngine_Controls_PageTemplates_SelectPageTemplate" Codebehind="SelectPageTemplate.ascx.cs" %>
<asp:DropDownList ID="drpTemplate" runat="server" CssClass="DropDownField" />
