<%@ Page Language="C#" AutoEventWireup="true"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Title="Marketing Automation Action - Properties"
    Inherits="CMSModules_ContactManagement_Pages_Tools_Automation_Action_Header" Theme="Default" Codebehind="Header.aspx.cs" %>