<%@ Page Language="C#" AutoEventWireup="true" Inherits="CMSModules_Forums_Tools_Forums_Forum_Header" 
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Theme="Default" Codebehind="Forum_Header.aspx.cs" %>
