<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSAdminControls_AsyncControl"
    Codebehind="AsyncControl.ascx.cs" %>
<cms:CMSButton ID="btnCancel" runat="server" OnClick="btnCancel_Click" />
<asp:Panel ID="pnlAsync" runat="server" CssClass="AsyncPanel" />
