<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSModules_Forums_Controls_LiveControls_Group" Codebehind="Group.ascx.cs" %>
<%@ Register src="~/CMSAdminControls/UI/PageElements/HeaderActions.ascx" tagname="HeaderActions" tagprefix="cms" %>
<%@ Register src="~/CMSAdminControls/UI/PageElements/PageTitle.ascx" tagname="PageTitle" tagprefix="cms" %>
<%@ Register Src="~/CMSModules/Forums/Controls/Forums/ForumList.ascx" TagName="ForumList" TagPrefix="cms" %>
<%@ Register Src="~/CMSModules/Forums/Controls/LiveControls/Forum.ascx" TagName="ForumEdit" TagPrefix="cms" %>
<%@ Register Src="~/CMSModules/Forums/Controls/Forums/ForumNew.ascx" TagName="ForumNew" TagPrefix="cms" %>
<%@ Register Src="~/CMSModules/Forums/Controls/Groups/GroupEdit.ascx" TagName="GroupEdit" TagPrefix="cms" %>
<asp:Panel runat="server" ID="pnlTabsMain" CssClass="TabsPageHeader">
    <asp:Panel runat="server" ID="pnlTabsContainer" CssClass="TabsPageTabs">
        <asp:Panel runat="server" ID="pnlTabs" CssClass="TabsTabs">
            <asp:Panel runat="server" ID="pnlWhite" CssClass="TabsWhite">
                <cms:BasicTabControl ID="tabElem" runat="server" TabControlLayout="Horizontal" UseClientScript="true"
                    UsePostback="true" />
            </asp:Panel>
        </asp:Panel>
    </asp:Panel>
</asp:Panel>
<asp:PlaceHolder ID="tabForums" runat="server">
    <asp:PlaceHolder ID="plcForumList" runat="server">
        <div class="TabBody">
            <asp:Panel ID="pnlListHeader" runat="server" CssClass="PageHeader">
                <cms:PageTitle ID="titleElem" runat="server" />
            </asp:Panel>
            <asp:Panel ID="pnlListActions" runat="server">
                <cms:HeaderActions ID="actionsElem" runat="server" UseClearElement="true"/>
            </asp:Panel>
            <asp:Panel runat="server" ID="pnlTab">
                <cms:ForumList ID="forumList" runat="server" />
            </asp:Panel>
        </div>
    </asp:PlaceHolder>
    <asp:PlaceHolder ID="plcForumEdit" runat="server">
        <div class="TabBody">
            <asp:Panel ID="pnlEditTitle" runat="server" CssClass="PageHeader">
                <cms:PageTitle ID="titleElemEdit" runat="server" />
            </asp:Panel>
            <asp:Panel ID="pnlEditActions" runat="server" CssClass="PageHeaderLine">
                <asp:LinkButton ID="lnkEditBack" runat="server" CausesValidation="false" /><asp:Label
                    ID="lblEditBack" runat="server" />
            </asp:Panel>
            <cms:ForumEdit ID="forumEdit" runat="server" />
        </div>
    </asp:PlaceHolder>
</asp:PlaceHolder>
<asp:Panel ID="tabNewForum" runat="server" CssClass="GroupForums">
    <asp:Panel ID="pnlNewHeader" runat="server" CssClass="PageHeaderLine">
        <asp:LinkButton ID="lnkNewBack" runat="server" CausesValidation="false" /><asp:Label
            ID="lblNewBack" runat="server" />
    </asp:Panel>
    <cms:ForumNew ID="forumNew" runat="server" />
</asp:Panel>
<asp:PlaceHolder ID="tabGeneral" runat="server">
    <asp:Panel runat="server" ID="pnlEditContent" CssClass="GroupForums">
        <cms:GroupEdit ID="groupEdit" runat="server" />
    </asp:Panel>
</asp:PlaceHolder>
