<%@ Control Language="C#" AutoEventWireup="true" Codebehind="~/CMSWebParts/Chat/ChatErrors.ascx.cs" Inherits="CMSWebParts_Chat_ChatErrors" %>

<%--START: Do not change anything here.--%>
<asp:Panel ID="pnlChatErrors" runat="server" CssClass="ChatWebpartContainer ChatWebpartContainerErrors" />
<%--END: Do not change anything here. --%>