<%@ Control Language="C#" AutoEventWireup="true" Codebehind="~/CMSWebParts/Chat/ChatRoomName.ascx.cs" Inherits="CMSWebParts_Chat_ChatRoomName" %>

<asp:Panel ID="pnlChatRoomName" runat="server" CssClass="ChatWebpartContainer ChatWebpartContainerRoomName EnabledWebpart" />