<%@ Control Language="C#" AutoEventWireup="true" Codebehind="ContactForVisitor.ascx.cs"
    Inherits="CMSModules_Settings_FormControls_ContactForVisitor" %>
<asp:DropDownList ID="drpContact" runat="server" CssClass="DropDownField" />
