<%@ Control Language="C#" AutoEventWireup="true" Codebehind="GoToExternalURL.ascx.cs"
    Inherits="CMSModules_Settings_FormControls_GoToExternalURL" %>
<cms:CMSTextBox ID="txtURL" runat="server" CssClass="SelectorTextBox" />
<cms:LocalizedButton ID="btnSelect" runat="server" CssClass="ContentButton" />
