<%@ Control Language="C#" AutoEventWireup="true" Codebehind="ScreenLockTimeoutValidator.ascx.cs"
    Inherits="CMSModules_Settings_FormControls_ScreenLockTimeoutValidator" %>

<cms:CMSTextBox ID="txtInput" runat="server" CssClass="TextBoxField"></cms:CMSTextBox>