<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSModules_Settings_FormControls_SelectDocumentOrder" Codebehind="SelectDocumentOrder.ascx.cs" %>
<asp:DropDownList ID="drpSelectOrder" runat="server" CssClass="DropDownField" />