<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSModules_Settings_FormControls_SelectControlElement" Codebehind="SelectControlElement.ascx.cs" %>
<asp:DropDownList ID="drpControlElement" runat="server" CssClass="DropDownField" />