<%@ Control Language="C#" AutoEventWireup="true" Codebehind="SelectPasswordExpiration.ascx.cs"
    Inherits="CMSModules_Settings_FormControls_SelectPasswordExpiration" %>
<asp:DropDownList ID="drpSelectExpiration" runat="server" CssClass="DropDownField" />
