<%@ Control Language="C#" AutoEventWireup="true" Codebehind="SelectPOPAuthentication.ascx.cs"
            Inherits="CMSModules_Settings_FormControls_SelectPOPAuthentication"  %>
<asp:DropDownList ID="drpSelectAuthentication" runat="server" CssClass="DropDownField" />