<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSModules_Settings_FormControls_SelectAuthentication" Codebehind="SelectAuthentication.ascx.cs" %>
<asp:DropDownList ID="drpSelectAuthentication" runat="server" CssClass="DropDownField" />