<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSModules_Settings_FormControls_SelectEmailFormat" Codebehind="SelectEmailFormat.ascx.cs" %>
<asp:DropDownList ID="drpSelectFormat" runat="server" CssClass="DropDownField" />