<%@ Control Language="C#" AutoEventWireup="true" Codebehind="SelectObjectRestoring.ascx.cs" Inherits="CMSModules_Settings_FormControls_SelectObjectRestoring" %>
<asp:RadioButtonList ID="rblObjectsRestoring" runat="server" RepeatDirection="Vertical" RepeatLayout="Flow" />