<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSModules_Settings_FormControls_SelectPasswordFormat" Codebehind="SelectPasswordFormat.ascx.cs" %>
<asp:DropDownList ID="drpSelectFormat" runat="server" CssClass="DropDownField" />