<%@ Control Language="C#" AutoEventWireup="true" Codebehind="SelectSettingsCategory.ascx.cs"
    Inherits="CMSModules_Settings_FormControls_SelectSettingsCategory" %>
<asp:DropDownList ID="drpCategories" runat="server" CssClass="DropDownField" />
