<%@ Control Language="C#" AutoEventWireup="true" Codebehind="~/CMSModules/Membership/FormControls/Users/SelectUserName.ascx.cs" Inherits="CMSModules_Membership_FormControls_Users_SelectUserName" %>

<%@ Register Src="~/CMSModules/Membership/FormControls/Users/SelectUser.ascx" TagPrefix="cms" TagName="UserNameSelector" %>

<cms:usernameselector runat="server" ID="ucSelector" />