<%@ Page Language="C#" AutoEventWireup="true"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Title="Chat"
    Inherits="CMSModules_Chat_Pages_Tools_Header" Theme="Default" Codebehind="Header.aspx.cs" %>