<%@ Page Language="C#" AutoEventWireup="true" Codebehind="Header.aspx.cs" MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master"
    Inherits="CMSModules_MyDesk_WaitingForApproval_Header" Theme="Default" %>

