<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Viewers_Documents_CMSRepeaterWithEffect" Codebehind="~/CMSWebParts/Viewers/Documents/CMSRepeaterWithEffect.ascx.cs" %>

<cms:CMSEditModeButtonAdd ID="btnAdd" runat="server" Visible="False" />
<cms:CMSRepeaterWithEffect ID="repItems" runat="server" />
