<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_Viewers_Documents_cmsviewer" Codebehind="~/CMSWebParts/Viewers/Documents/cmsviewer.ascx.cs" %>
<cms:CMSViewer ID="viewElem" runat="server" />
