<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Viewers_Documents_documentpager" Codebehind="~/CMSWebParts/Viewers/Documents/documentpager.ascx.cs" %>

<cms:CMSRepeater ID="repItems" runat="server" EnableViewState="true" OrderBy="NodeOrder"  />
