<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_Viewers_Documents_relateddocuments" Codebehind="~/CMSWebParts/Viewers/Documents/relateddocuments.ascx.cs" %>
<cms:CMSRepeater ID="repElem" runat="server" Path="/%" ClassNames="CMS.Root" />
