<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSAdminControls_Silverlight_SilverlightApplication" Codebehind="SilverlightApplication.ascx.cs" %>
<asp:Literal ID="ltlSilverlight" runat="server" EnableViewState="false" />
