<%@ Page Language="C#" AutoEventWireup="true" Inherits="CMSModules_Forums_Tools_Groups_Group_Header" 
MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Theme="Default" Codebehind="Group_Header.aspx.cs" %>
