<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master"
    Title="Membership properties" Inherits="CMSModules_Membership_Pages_Membership_Header"
    Theme="Default" Codebehind="Header.aspx.cs" %>

