<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/CMSMasterPages/UI/SimplePage.master"
    Title="Membership properties – General" Codebehind="Tab_Products.aspx.cs" Inherits="CMSModules_Membership_Pages_Membership_Tab_Products"
    Theme="Default" %>

<asp:Content ID="cntBody" runat="server" ContentPlaceHolderID="plcContent">
</asp:Content>
