<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSFormControls_LicenseSelector" Codebehind="LicenseSelector.ascx.cs" %>
<asp:CheckBoxList ID="chckLicenses" runat="server" RepeatDirection="Vertical" />