<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSFormControls_LicensePackageSelector" Codebehind="LicensePackageSelector.ascx.cs"  %>
<asp:CheckBoxList ID="chckPackages" runat="server" RepeatDirection="Vertical" />
