<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_Community_Friends_FriendsDataSource" Codebehind="~/CMSWebParts/Community/Friends/FriendsDataSource.ascx.cs" %>
<%@ Register TagPrefix="cms" Namespace="CMS.Community" Assembly="CMS.Community" %>    
<cms:FriendsDataSource ID="srcFriends" runat="server" />