<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Reporting_Chart"
    Codebehind="~/CMSWebParts/Reporting/Chart.ascx.cs" %>
<%@ Register Src="~/CMSModules/Reporting/Controls/ReportGraph.ascx" TagName="ReportGraph"
    TagPrefix="cms" %>
<cms:ReportGraph runat="server" ID="ucGraph" />
