<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_DataSources_SQLDataSource" Codebehind="~/CMSWebParts/DataSources/SQLDataSource.ascx.cs" %>
<cms:SQLDataSource ID="srcSQL" runat="server" />
