<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_DataSources_WebServiceDataSource" Codebehind="~/CMSWebParts/DataSources/WebServiceDataSource.ascx.cs" %>
<cms:WebServiceDataSource ID="srcWebService" runat="server" />