<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_Syndication_AtomDataSource" Codebehind="~/CMSWebParts/Syndication/AtomDataSource.ascx.cs" %>
<cms:XMLDataSource ID="srcXml" runat="server" />