<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Syndication_QueryRSSFeed" Codebehind="~/CMSWebParts/Syndication/QueryRSSFeed.ascx.cs" %>

<cms:RSSFeed runat="server" ID="rssFeed" />
<cms:CMSQueryDataSource runat="server" ID="srcElem" />