<%@ Page Language="C#" AutoEventWireup="true" Theme="default" Inherits="CMSSiteManager_Development_development"
    MasterPageFile="~/CMSMasterPages/UI/SimplePage.master" Codebehind="development.aspx.cs" %>

<%@ Register Src="~/CMSAdminControls/UI/UIProfiles/UIGuide.ascx" TagName="UIGuide"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="plcContent" runat="server">
    <uc1:UIGuide ID="uiGuide" runat="server" EnableViewState="false" ModuleName="CMS.SiteManager"
        ElementName="Development" Columns="3" />
</asp:Content>