<%@ Page Language="C#" AutoEventWireup="true" Theme="Default"
    Inherits="CMSModules_ProjectManagement_MyProjectsAndTasks_MyProjects_Header"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Title="My projects - header" Codebehind="MyProjects_Header.aspx.cs" %>

