<%@ Page Language="C#" AutoEventWireup="true" Title="Upload file"
    Inherits="CMSModules_Content_Attachments_Dialogs_FileUpload" Theme="default" MasterPageFile="~/CMSMasterPages/UI/Dialogs/ModalSimplePage.master" Codebehind="FileUpload.aspx.cs" %>

<asp:content id="cntBody" runat="server" contentplaceholderid="plcContent">
    <asp:Panel ID="pnlUploaderElem" runat="server" CssClass="PageContent">
    </asp:Panel>
</asp:content>

