<%@ Page Language="C#" AutoEventWireup="true" 
    Inherits="CMSModules_SMTPServers_Pages_Administration_Header" Theme="Default"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Title="SMTP Server Edit - Header" Codebehind="Header.aspx.cs" %>