<%@ Page Language="C#" MasterPageFile="~/CMSMasterPages/UI/Dialogs/TabsHeader.master"
    Theme="Default" AutoEventWireup="true" Codebehind="Header.aspx.cs" Inherits="CMSModules_Workflows_Pages_WorkflowStep_SourcePoint_Header"
    Title="Workflows - Source Point Header" %>

