<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSModules_BadWords_FormControls_SelectBadWordAction" Codebehind="SelectBadWordAction.ascx.cs" %>
<asp:DropDownList ID="drpSelectAction" runat="server" CssClass="DropDownField" />
