<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Community_DocumentLibrary_GroupDocumentLibrary"
    Codebehind="~/CMSWebParts/Community/DocumentLibrary/GroupDocumentLibrary.ascx.cs" %>
<%@ Register Src="~/CMSModules/DocumentLibrary/Controls/DocumentLibrary.ascx" TagName="DocumentLibrary"
    TagPrefix="cms" %>
<cms:DocumentLibrary ID="libraryElem" runat="server" />
