<%@ Page Language="C#" AutoEventWireup="true" Codebehind="DocumentType_Edit_Transformation_Preview.aspx.cs"
    MasterPageFile="~/CMSMasterPages/UI/SimplePage.master" Inherits="CMSModules_DocumentTypes_Pages_Development_DocumentType_Edit_Transformation_Preview"
    Title="Transformation Edit" Theme="Default" %>

<asp:Content ID="Content1" ContentPlaceHolderID="plcContent" runat="Server">
</asp:Content>
