<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSModules_Reporting_Controls_DisplayReport"
    Codebehind="DisplayReport.ascx.cs" %>
<cms:BasicForm ID="formElem" runat="server" />
<asp:Panel runat="server" ID="pnlContent" />
