<%@ Control Language="C#" AutoEventWireup="true" Codebehind="~/CMSModules/Reporting/Controls/ReportTree.ascx.cs" Inherits="CMSModules_Reporting_Controls_ReportTree" %>
<%@ Register Src="~/CMSAdminControls/UI/Trees/UniTree.ascx" TagName="UniTree" TagPrefix="cms" %>

<cms:UniTree runat="server" ID="treeElem" />
