<%@ Control Language="C#" AutoEventWireup="true" Codebehind="Unsubscription.ascx.cs" Inherits="CMSModules_MessageBoards_Controls_Unsubscription" %>
<cms:LocalizedLabel runat="server" ID="lblInfo" EnableViewState="false" />
<cms:LocalizedButton runat="server" ID="btnConfirm" onclick="btnConfirm_Click" EnableViewState="false" />