<%@ Page Language="C#" AutoEventWireup="true" Inherits="CMSAdminControls_UI_Macros_Dialogs_Default"
    Codebehind="Default.aspx.cs" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server" enableviewstate="false">
    <title>Insert Macro</title>
</head>
<frameset border="0" id="rowsFrameset" rows="73, *">
    <frame name="insertMacroHeader" src="Header.aspx<%= URLHelper.Url.Query %>"
        scrolling="no" frameborder="0" noresize="noresize" />
    <frame name="insertContent" src="Tab_InsertMacroTree.aspx<%= URLHelper.Url.Query %>"
        frameborder="0" />
    <cms:NoFramesLiteral ID="ltlNoFrames" runat="server" />
</frameset>
</html>
