<%@ Page Language="C#" AutoEventWireup="true" 
    Inherits="CMSAdminControls_UI_Macros_Dialogs_Header" Theme="Default"
    MasterPageFile="~/CMSMasterPages/UI/Dialogs/TabsHeader.master" Title="Insert Macro" Codebehind="Header.aspx.cs" %>
