<%@ Page Language="C#" AutoEventWireup="true"
    Inherits="CMSModules_Forums_Content_Properties_Header" Theme="Default"
    MasterPageFile="~/CMSMasterPages/UI/Dialogs/TabsHeader.master" Title="Forums - header" Codebehind="Header.aspx.cs" %>
