<%@ Control Language="C#" AutoEventWireup="true" Codebehind="ViewObjectDataSet.ascx.cs"
    Inherits="CMSModules_Objects_Controls_ViewObjectDataSet" %>
<asp:Literal runat="server" ID="ltlAdditionalContent" EnableViewState="false" />
<asp:PlaceHolder ID="plcContent" runat="server" />
