<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Membership_Users_UsersFilter" Codebehind="~/CMSWebParts/Membership/Users/UsersFilter.ascx.cs" %>
<%@ Register Src="~/CMSWebParts/Membership/Users/UsersFilter_files/UsersFilterControl.ascx" TagName="UsersFilterControl"
    TagPrefix="uc1" %>
<uc1:UsersFilterControl ID="filterUsers" runat="server" />