<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSInlineControls_YouTubeControl" Codebehind="YouTubeControl.ascx.cs" %>
<asp:Literal ID="ltlYouTube" runat="server" EnableViewState="false" />