<%@ Page Language="C#" AutoEventWireup="true" Inherits="CMSModules_Ecommerce_Pages_Tools_Configuration_TaxClasses_TaxClass_Header" Theme="Default" MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Codebehind="TaxClass_Header.aspx.cs" %>
