<%@ Page Language="C#" AutoEventWireup="true" Codebehind="Main.aspx.cs" Inherits="CMSAPIExamples_Pages_Main" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>CMS API Examples</title>
</head>
<frameset border="0" cols="250,*" runat="server" id="colsFrameset">
    <frame runat="server" id="frmMenu" name="menu" noresize="noresize" frameborder="0" />
    <frame name="content" runat="server" noresize="noresize" frameborder="0" />
</frameset>
