<%@ Page Language="C#" MasterPageFile="~/CMSMasterPages/UI/TabsHeaderVertical.master" AutoEventWireup="true"
    Inherits="CMSModules_Newsletters_Tools_Header" Theme="Default" Codebehind="Header.aspx.cs" %>