<%@ Page Language="C#" AutoEventWireup="true" Codebehind="Configuration_Header.aspx.cs"
    Theme="Default" MasterPageFile="~/CMSMasterPages/UI/SimplePage.master" Inherits="CMSModules_Ecommerce_Pages_SiteManager_Configuration_Header" %>

<%@ Register Src="~/CMSAdminControls/UI/PageElements/FrameResizer.ascx" TagName="FrameResizer"
    TagPrefix="cms" %>
<asp:Content ContentPlaceHolderID="plcBeforeContent" ID="BeforeContent" runat="server">
    <cms:frameresizer runat="server" id="frmResizer" islivesite="false" minsize="6, *"
        vertical="True" />
    <asp:Panel runat="server" ID="PanelSeparator" CssClass="HeaderSeparator">
        &nbsp;</asp:Panel>
</asp:Content>
