<%@ Control Language="C#" AutoEventWireup="true" Codebehind="ClassFields.ascx.cs" Inherits="CMSModules_AdminControls_Controls_Class_ClassFields" %>

<asp:DropDownList ID="drpField" runat="server" CssClass="DropDownField" />