<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_Community_GroupRegistration" Codebehind="~/CMSWebParts/Community/GroupRegistration.ascx.cs" %>
<%@ Register Src="~/CMSModules/Groups/Controls/GroupRegistration.ascx" TagName="GroupRegistration"
    TagPrefix="cms" %>
<cms:GroupRegistration ID="groupRegistrationElem" runat="server" />
