<%@ Control Language="C#" AutoEventWireup="true" Codebehind="MacroEditor.ascx.cs" Inherits="CMSFormControls_Macros_MacroEditor" %>
<%@ Register Src="~/CMSAdminControls/UI/Macros/MacroEditor.ascx" TagPrefix="cms"
    TagName="MacroEditor" %>
<cms:MacroEditor runat="server" ID="ucEditor" />
