<%@ Control Language="C#" AutoEventWireup="true" Codebehind="BooleanFilter.ascx.cs" Inherits="CMSFormControls_Filters_BooleanFilter" %>
<asp:DropDownList ID="drpConditionValue" runat="server" CssClass="ExtraSmallDropDown" />