<%@ Control Language="C#" AutoEventWireup="true" Codebehind="NumberFilter.ascx.cs"
    Inherits="CMSFormControls_Filters_NumberFilter" %>
<asp:DropDownList ID="drpOperator" runat="server" CssClass="ExtraSmallDropDown" />
<cms:CMSTextBox ID="txtText" runat="server" CssClass="FilterTextBox" />
