<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSModules_REST_FormControls_GenerateAuthHash"
    Codebehind="GenerateAuthHash.ascx.cs" %>
<cms:LocalizedHyperlink runat="server" ID="lnkGenerate" ResourceString="rest.generatehash" />
