<%@ Page Language="C#" AutoEventWireup="true" Codebehind="Newsletter_Issue_Header.aspx.cs"
    Inherits="CMSModules_Newsletters_Tools_Newsletters_Newsletter_Issue_Header" MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master"
    Theme="Default" Title="Tools - Newsletter issue header" %>

