<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSWebParts_Search_cmssearchresults" Codebehind="~/CMSWebParts/Search/cmssearchresults.ascx.cs" %>

<cms:CMSSearchResults ID="srchResults" runat="server" />
