<%@ Control Language="C#" AutoEventWireup="true" Inherits="CMSModules_Macros_Controls_UI_MacroRule_CategoryFilter"
    Codebehind="CategoryFilter.ascx.cs" %>
<asp:Panel runat="server" ID="pnlSearch">
    <asp:DropDownList runat="server" ID="drpOptions" CssClass="DropDownField" />
</asp:Panel>
